Repository wwwillchen/mesop: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

forbid-import-star-ts-proto:
  name: Forbid import glob for TS protos
  description: problematic for tree-shaking when syncing downstream
  entry: sh -c '! git grep -E "import \* as.*_jspb"'
  language: system
  pass_filenames: false

forbid-raw-json-parse:
  name: Forbid raw JSON.parse (use strict_types.ts `jsonParse`)
  description: JSON.parse is loosely typed which causes downstream issues
  entry: sh -c '! git grep -E "JSON\.parse" "optic/**" ":!strict_types.ts"'
  language: system
  pass_filenames: false

forbid-external-bazel-symbols:
  name: Forbid external Bazel symbols in /optic/
  description: External Bazel symbols should be contained in /build_defs/
  entry: sh -c '! git grep -E "@[^D][^)]" "optic/**/BUILD"'
  language: system
  pass_filenames: false

Update publishing.md
  docs/internal/publishing.md
Due: none

Update deployment guide to deploy via Google Cloud Run
  Dockerfile
  docs/guides/deployment.md
Due: none

Update docs on how-to run Mesop apps
  docs/getting_started.md
  docs/index.md
Due: none

Make proto array references readonly due to downstream jspb proto library changes
  mesop/web/src/dev_tools/dev_tools.ts
  mesop/web/src/dev_tools/editor_panel/editor_panel.ts
  mesop/web/src/editor/editor.ts
  mesop/web/src/services/channel.ts
  mesop/web/src/shell/shell.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Update proto to readonly array reference (fix downstream issue)
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
  mesop/web/src/dev_tools/editor_panel/editor_panel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Allow `flex-shrink` to be set to 0. (#78)
  mesop/component_helpers/style.py
  mesop/protos/ui.proto
Due: none

Make all (API-exposed) dataclass kw-only (#80)
  mesop/components/checkbox/checkbox.py
  mesop/components/progress_bar/progress_bar.py
  mesop/components/radio/radio.py
  mesop/components/select/select.py
  mesop/components/slide_toggle/slide_toggle.py
  mesop/components/slider/slider.py
  mesop/events/events.py
  mesop/key/key.py
Due: none

Allow customizing style for select component (#71)
  mesop/components/select/BUILD
  mesop/components/select/e2e/select_app.py
  mesop/components/select/select.ng.html
  mesop/components/select/select.py
  mesop/components/select/select.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Create a more appealing docs landing page - improved UI & responsive-friendly
  docs/index.md
  docs/stylesheets/extra.css
Due: none

Update README.md to be complete
  README.md
Due: none

Allow columns CSS property to accept int/str vals. (#86)
  mesop/component_helpers/style.py
  mesop/protos/ui.proto
Due: none

Document input race condition issue anti-pattern (#89)
  .pre-commit-config.yaml
  docs/guides/troubleshooting.md
  mkdocs.yml
Due: none

Provide docs on component key (closes #74) (#88)
  docs/guides/components.md
  docs/guides/troubleshooting.md
  docs/stylesheets/extra.css
  mesop/components/audio/audio.py
  mesop/components/badge/badge.py
  mesop/components/box/box.py
  mesop/components/button/button.py
  mesop/components/checkbox/checkbox.py
  mesop/components/divider/divider.py
  mesop/components/icon/icon.py
  mesop/components/image/image.py
  mesop/components/input/input.py
  mesop/components/progress_bar/progress_bar.py
  mesop/components/progress_spinner/progress_spinner.py
  mesop/components/radio/radio.py
  mesop/components/select/select.py
  mesop/components/sidenav/sidenav.py
  mesop/components/slide_toggle/slide_toggle.py
  mesop/components/slider/slider.py
  mesop/components/text/text.py
  mesop/components/tooltip/tooltip.py
  mkdocs.yml
Due: none

Ensure edit events from visual editor is only processed in debug mode (#92)
  mesop/server/server.py
Due: none

Fix logic for setting debug mode from colab_run and wsgi_app (closes #83) (#90)
  mesop/server/BUILD
  mesop/server/colab_run.py
  mesop/server/colab_run_test.py
  mesop/server/wsgi_app.py
  mesop/server/wsgi_app_test.py
Due: forbid-external-bazel-symbols

Split tests in server into separate targets per file (needed for downstream sync)
  mesop/server/BUILD
Due: forbid-external-bazel-symbols

release: bump to v0.4.1
  mesop/pip_package/setup.py
Due: none

Add a text to image IO function. (#99)
  docs/components/text_to_image.md
  mesop/examples/__init__.py
  mesop/examples/text_to_image.py
  mesop/labs/__init__.py
  mesop/labs/text_to_image.py
  mkdocs.yml
Due: none

Switch to ipv6 (#91)
  mesop/cli/cli.py
  mesop/cli/dev_cli.py
  mesop/server/colab_run.py
  mesop/server/wsgi_app.py
Due: none

Add simple chat widget function. (#100)
  docs/components/chat.md
  mesop/examples/__init__.py
  mesop/examples/chat.py
  mesop/examples/e2e/chat_test.ts
  mesop/labs/__init__.py
  mesop/labs/chat.py
  mkdocs.yml
  playwright.config.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Add basic table with Pandas support. (#103)
  build_defs/defaults.bzl
  build_defs/requirements.txt
  build_defs/requirements_lock.txt
  docs/components/table.md
  mesop/BUILD
  mesop/__init__.py
  mesop/cli/BUILD
  mesop/components/table/BUILD
  mesop/components/table/__init__.py
  mesop/components/table/e2e/BUILD
  mesop/components/table/e2e/__init__.py
  mesop/components/table/e2e/table_app.py
  mesop/components/table/e2e/table_test.ts
  mesop/components/table/table.ng.html
  mesop/components/table/table.proto
  mesop/components/table/table.py
  mesop/components/table/table.ts
  mesop/example_index.py
  mesop/examples/BUILD
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
  mkdocs.yml
  packages.bzl
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Update development.md to reference cli.venv (#108)
  docs/internal/development.md
Due: none

Add __version__ attribute so Mesop users can easily tell which version of Mesop they're using (#112)
  docs/internal/publishing.md
  mesop/BUILD
  mesop/__init__.py
  mesop/pip_package/BUILD
  mesop/pip_package/build_pip_package.sh
  mesop/pip_package/setup.py
  mesop/pip_package/version.py
Due: forbid-external-bazel-symbols

Make MesopException the parent class of more specific mesop exceptions & expose as public API (#113)
  mesop/__init__.py
  mesop/exceptions/__init__.py
Due: none

Update hot reloading logic in execute_module.py (#116)
  mesop/cli/execute_module.py
  mesop/cli/execute_module_test.py
Due: none

Update index.md - add a more compelling reason
  docs/index.md
Due: none

Update BUILD in pip_package to not directly reference @rules_python (#120)
  mesop/pip_package/BUILD
Due: forbid-external-bazel-symbols

Update pip_package/BUILD to import py_library
  mesop/pip_package/BUILD
Due: forbid-external-bazel-symbols

Create shorthands for Margin, Padding, and Border (#122)
  mesop/component_helpers/style.py
  mesop/components/box/e2e/box_app.py
  mesop/examples/index.py
Due: none

Make it so wide code examples do not overflow. (#127)
  mesop/web/src/app/styles.scss
Due: none

Fix setup_proto_py_modules.sh (#130)
  scripts/setup_proto_py_modules.sh
Due: none

Fix imports when using mesop CLI bin.py (#129)
  mesop/bin/bin.py
Due: none

Fix state serialization bug with pandas.DataFrame. (#126)
  mesop/dataclass_utils/BUILD
  mesop/dataclass_utils/dataclass_utils.py
  mesop/dataclass_utils/dataclass_utils_test.py
Due: forbid-external-bazel-symbols

Add on table cell click event (#125)
  mesop/__init__.py
  mesop/components/table/e2e/table_app.py
  mesop/components/table/e2e/table_test.ts
  mesop/components/table/table.ng.html
  mesop/components/table/table.proto
  mesop/components/table/table.py
  mesop/components/table/table.ts
  mesop/protos/ui.proto
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Plumb style for markdown (#132)
  mesop/components/markdown/e2e/markdown_app.py
  mesop/components/markdown/markdown.ng.html
  mesop/components/markdown/markdown.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Support style for button (#133)
  mesop/components/button/button.ng.html
  mesop/components/button/button.py
  mesop/components/button/button.ts
  mesop/examples/buttons.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Support style for checkbox and radio (#134)
  mesop/components/checkbox/checkbox.ng.html
  mesop/components/checkbox/checkbox.py
  mesop/components/checkbox/checkbox.ts
  mesop/components/checkbox/e2e/checkbox_app.py
  mesop/components/radio/e2e/radio_app.py
  mesop/components/radio/radio.ng.html
  mesop/components/radio/radio.py
  mesop/components/radio/radio.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Update default UI for radio component (#131)
  mesop/components/defs.bzl
  mesop/components/radio/BUILD
  mesop/components/radio/radio.py
  mesop/components/radio/radio.scss
  mesop/components/radio/radio.ts
  mesop/examples/__init__.py
  mesop/examples/checkbox_and_radio.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Hello world demo for hugging face space
  Dockerfile
  demo/main.py
  demo/requirements.txt
Due: none

Create a prompt generator
  experimental/README.md
  experimental/example_inputs.txt
  experimental/gen/code/r1/image_transfer_vis.py
  experimental/gen/code/r1/llm_playground_long_vis.py
  experimental/gen/code/r1/llm_playground_short_vis.py
  experimental/gen/code/r1/sxs.py
  experimental/gen/code/r1/sxs_vis.py
  experimental/gen/code/r1/text_sum.py
  experimental/gen/code/r1/text_sum_2.py
  experimental/gen/code/r1/text_sum_vis.py
  experimental/gen/code/r2/llm_playground_short.py
  experimental/gen/code/r2/sxs.py
  experimental/gen/prompt_preamble.txt
  experimental/generate_code.py
  experimental/generate_prompt_preamble.py
  mesop/examples/a.py
  pyproject.toml
Due: none

Path conditions:
  forbid-import-star-ts-proto: any of: \.(ts)$
  forbid-raw-json-parse: any of: \.(ts)$
  forbid-external-bazel-symbols: any of: BUILD$
