Repository wwwillchen/mesop: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

forbid-import-star-ts-proto:
  name: Forbid import glob for TS protos
  description: problematic for tree-shaking when syncing downstream
  entry: sh -c '! git grep -E "import \* as.*_jspb"'
  language: system
  pass_filenames: false

forbid-raw-json-parse:
  name: Forbid raw JSON.parse (use strict_types.ts `jsonParse`)
  description: JSON.parse is loosely typed which causes downstream issues
  entry: sh -c '! git grep -E "JSON\.parse" "optic/**" ":!strict_types.ts"'
  language: system
  pass_filenames: false

forbid-external-bazel-symbols:
  name: Forbid external Bazel symbols in /optic/
  description: External Bazel symbols should be contained in /build_defs/
  entry: sh -c '! git grep -E "@[^D][^)]" "optic/**/BUILD"'
  language: system
  pass_filenames: false

Create visibility group for examples; rename examples/io->text_io.py; fix API visibility of labs
  build_defs/BUILD
  mesop/components/audio/e2e/BUILD
  mesop/components/badge/e2e/BUILD
  mesop/components/box/e2e/BUILD
  mesop/components/checkbox/e2e/BUILD
  mesop/components/divider/e2e/BUILD
  mesop/components/icon/e2e/BUILD
  mesop/components/image/e2e/BUILD
  mesop/components/input/e2e/BUILD
  mesop/components/markdown/e2e/BUILD
  mesop/components/progress_bar/e2e/BUILD
  mesop/components/progress_spinner/e2e/BUILD
  mesop/components/radio/e2e/BUILD
  mesop/components/select/e2e/BUILD
  mesop/components/slide_toggle/e2e/BUILD
  mesop/components/slider/e2e/BUILD
  mesop/components/text/e2e/BUILD
  mesop/components/tooltip/e2e/BUILD
  mesop/components/video/e2e/BUILD
  mesop/examples/BUILD
  mesop/examples/__init__.py
  mesop/examples/docs/BUILD
  mesop/examples/integrations/BUILD
  mesop/examples/shared/BUILD
  mesop/examples/testing/BUILD
  mesop/examples/text_io.py
  mesop/labs/BUILD
  mesop/labs/__init__.py
Due: forbid-external-bazel-symbols

Revamp docs to center around Text I/O example
  docs/components/text_io.md
  docs/getting_started.md
  docs/guides/labs.md
  docs/index.md
  mesop/examples/text_io.py
  mkdocs.yml
Due: none

Fix missing dep (absl-py) for server
  mesop/server/BUILD
Due: forbid-external-bazel-symbols

Define gap in style
  mesop/component_helpers/style.py
  mesop/protos/ui.proto
  mesop/web/src/utils/styles.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Make text i/o responsive layout
  mesop/labs/io.py
Due: none

Allow configuring page title (browser)
  mesop/examples/text_io.py
  mesop/features/page.py
  mesop/protos/ui.proto
  mesop/runtime/runtime.py
  mesop/server/server.py
  mesop/web/src/services/channel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Allow configurable title in text_io
  mesop/examples/text_io.py
  mesop/labs/io.py
Due: none

Replace ?? with || in styles.ts because unset proto string fields return an empty string
  mesop/web/src/utils/styles.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Add line height as a style prop
  mesop/component_helpers/style.py
  mesop/protos/ui.proto
  mesop/web/src/utils/styles.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Make colab_run a no-op when not running in colab env
  mesop/server/colab_run.py
  mesop/utils/colab_utils.py
Due: none

Add grid properties to style
  mesop/component_helpers/style.py
  mesop/protos/ui.proto
  mesop/web/src/utils/styles.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Make line height str type (float isn't yet handled by editor)
  mesop/component_helpers/style.py
Due: none

text i/o: ensure consistent bg color regardless of height
  mesop/labs/io.py
Due: none

Create matplotlib grid example
  mesop/examples/__init__.py
  mesop/examples/grid.py
  mesop/examples/integrations/__init__.py
  mesop/examples/integrations/matplotlib.py
  mesop/examples/integrations/matplotlib_grid.py
Due: none

Add Linux support for scripts (#38)
  scripts/cli.sh
  scripts/run_py_dev.sh
  scripts/run_web_dev.sh
Due: none

Create example & update docs for multi-page navigation
  docs/guides/pages.md
  mesop/examples/docs/__init__.py
  mesop/examples/docs/multi_page_nav.py
Due: none

Replace browser EventSource with JS implementation
  biome.json
  mesop/server/server.py
  mesop/web/src/services/channel.ts
  mesop/web/src/utils/sse.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Use request payload instead of query param to avoid URL size limits (HTTP: 414)
  mesop/server/server.py
  mesop/web/src/services/channel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Chunk fromUint8Array to avoid RangeError exception with large arrays
  mesop/web/src/services/channel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Export symbols directly from sse.ts (avoids issues in downstream sync)
  mesop/web/src/utils/sse.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Add outline as style property
  mesop/component_helpers/style.py
  mesop/protos/ui.proto
  mesop/web/src/utils/styles.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Define native_input for advanced use cases
  docs/components/input.md
  mesop/__init__.py
  mesop/components/input/e2e/input_app.py
  mesop/components/input/input.ng.html
  mesop/components/input/input.proto
  mesop/components/input/input.py
Due: none

Add font family as a style property
  mesop/component_helpers/style.py
  mesop/protos/ui.proto
  mesop/web/src/utils/styles.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Load Google's fonts
  mesop/web/src/app/dev/index.html
  mesop/web/src/app/editor/index.html
  mesop/web/src/app/prod/index.html
Due: none

Use Google Sans Text in example/index.py
  mesop/examples/index.py
Due: none

Create sidenav component
  docs/components/sidenav.md
  mesop/BUILD
  mesop/__init__.py
  mesop/components/sidenav/BUILD
  mesop/components/sidenav/__init__.py
  mesop/components/sidenav/e2e/BUILD
  mesop/components/sidenav/e2e/__init__.py
  mesop/components/sidenav/e2e/sidenav_app.py
  mesop/components/sidenav/e2e/sidenav_test.ts
  mesop/components/sidenav/sidenav.ng.html
  mesop/components/sidenav/sidenav.proto
  mesop/components/sidenav/sidenav.py
  mesop/components/sidenav/sidenav.ts
  mesop/example_index.py
  mesop/examples/BUILD
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
  mesop/web/src/shell/shell.ng.html
  mesop/web/src/shell/shell.scss
  mesop/web/src/shell/shell.ts
  mkdocs.yml
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Add cursor as Style property
  mesop/component_helpers/style.py
  mesop/protos/ui.proto
  mesop/web/src/utils/styles.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Add style argument to markdown component
  mesop/components/markdown/markdown.py
Due: none

Add font smoothing to default styles
  mesop/web/src/app/styles.scss
Due: none

Add box-sizing and z-index to Style
  mesop/component_helpers/style.py
  mesop/protos/ui.proto
  mesop/web/src/utils/styles.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Update native_input -> native_textarea because it's more flexible
  docs/components/input.md
  mesop/__init__.py
  mesop/components/input/e2e/input_app.py
  mesop/components/input/input.ng.html
  mesop/components/input/input.proto
  mesop/components/input/input.py
Due: none

Set nicer looking default scrollbar styling
  mesop/web/src/app/styles.scss
Due: none

Set z-index for status bar so it doesn't get covered up by app content
  mesop/web/src/shell/shell.scss
Due: none

Add margin to shell in editor mode to avoid mis-selecting between scrollbar and drag handle
  mesop/web/src/editor/editor.scss
Due: none

Fix strictDeps violation for sidenav
  mesop/components/sidenav/BUILD
Due: forbid-external-bazel-symbols

Add SxS example
  mesop/examples/BUILD
  mesop/examples/sxs/BUILD
  mesop/examples/sxs/__init__.py
  mesop/examples/sxs/data/gemini/Explain_Congestive_Heart_Failure.md
  mesop/examples/sxs/data/gemini/Explain_Seasonal_Affective_Disorder.md
  mesop/examples/sxs/data/gemini_advanced/Explain_Congestive_Heart_Failure.md
  mesop/examples/sxs/data/gemini_advanced/Explain_Seasonal_Affective_Disorder.md
  mesop/examples/sxs/sxs.py
Due: forbid-external-bazel-symbols

Upgrade angular & related deps
  mesop/components/slider/e2e/slider_test.ts
  package.json
  yarn.lock
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Use @angular/material-experimental for M3 theming
  mesop/web/src/app/styles.scss
  package.json
  yarn.lock
Due: none

Remove print call
  mesop/examples/sxs/sxs.py
Due: none

Modify button style for text_io
  mesop/labs/io.py
Due: none

Path conditions:
  forbid-import-star-ts-proto: any of: \.(ts)$
  forbid-raw-json-parse: any of: \.(ts)$
  forbid-external-bazel-symbols: any of: BUILD$
