Repository wwwillchen/mesop: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.3
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/wwwillchen/pre-commit-buildifier
    rev: 0.1.1
    hooks:
      - id: buildifier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: forbid-import-star-ts-proto
        name: Forbid import glob for TS protos
        description: problematic for tree-shaking when syncing downstream
        entry: sh -c '! git grep -E "import \* as.*_jspb"'
        files: \.(ts)$
        language: system
        pass_filenames: false
      - id: forbid-raw-json-parse
        name: Forbid raw JSON.parse (use strict_types.ts `jsonParse`)
        description: JSON.parse is loosely typed which causes downstream issues
        entry: sh -c '! git grep -E "JSON\.parse" "optic/**" ":!strict_types.ts"'
        files: \.(ts)$
        language: system
        pass_filenames: false
      - id: forbid-external-bazel-symbols
        name: Forbid external Bazel symbols in /optic/
        description: External Bazel symbols should be contained in /build_defs/
        entry: sh -c '! git grep -E "@[^D][^)]" "optic/**/BUILD"'
        language: system
        pass_filenames: false
        files: BUILD$

      # - id: forbid-json-parse
      #   name: Do not use raw JSON.parse, instead use `jsonParse` from strict_types.ts
      #   entry: ! git grep "JSON.parse"
      #   language: system
      #   files: \.(ts)$
      #   exclude: strict_types\.ts

Tidy up UI for editor panel
  mesop/web/src/dev_tools/dev_tools.scss
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.scss
  mesop/web/src/dev_tools/editor_panel/editor_panel.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_panel.scss
Due: none

Consolidate editor and components panel into one seamless panel
  mesop/web/src/dev_tools/BUILD
  mesop/web/src/dev_tools/component_tree/component_tree.ng.html
  mesop/web/src/dev_tools/component_tree/component_tree.scss
  mesop/web/src/dev_tools/component_tree/component_tree.ts
  mesop/web/src/dev_tools/components_panel/BUILD
  mesop/web/src/dev_tools/components_panel/components_panel.ng.html
  mesop/web/src/dev_tools/components_panel/components_panel.scss
  mesop/web/src/dev_tools/components_panel/components_panel.ts
  mesop/web/src/dev_tools/dev_tools.ng.html
  mesop/web/src/dev_tools/dev_tools.ts
  mesop/web/src/dev_tools/editor_panel/editor_panel.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_panel.scss
  mesop/web/src/dev_tools/editor_panel/editor_panel.ts
  mesop/web/src/dev_tools/services/logger.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Rename Editor to Components panel (in UI)
  mesop/web/src/dev_tools/dev_tools.ng.html
  mesop/web/src/dev_tools/dev_tools.ts
  mesop/web/src/dev_tools/services/dev_tools_settings.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Remove extraneous isDebugMode from DevToolsSettings
  mesop/web/src/dev_tools/services/dev_tools_settings.ts
  mesop/web/src/editor/editor.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Implement inspect component mode (with keyboard shortcut)
  mesop/web/src/component_renderer/component_renderer.ng.html
  mesop/web/src/component_renderer/component_renderer.ts
  mesop/web/src/dev_tools/BUILD
  mesop/web/src/dev_tools/dev_tools.ng.html
  mesop/web/src/dev_tools/dev_tools.scss
  mesop/web/src/dev_tools/dev_tools.ts
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.scss
  mesop/web/src/editor/BUILD
  mesop/web/src/editor/editor.ts
  mesop/web/src/services/editor_service.ts
  mesop/web/src/utils/platform.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

pre-select literal value for editor fields
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Deflake divider test by using more explicit selectors that wait for app to load
  mesop/components/divider/e2e/divider_test.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Use a truthy default value in editor_codemod (important for showing new fields in UI)
  mesop/editor/editor_codemod.py
Due: none

Support number input in editor fields
  mesop/editor/component_configs.py
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
Due: none

Support long text input with textarea and multi-line string support in codemod
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/multiline_string/after.py
  mesop/editor/testdata/multiline_string/before.py
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
Due: none

Migrate ui.proto to proto2 to handle unset primitive fields
  mesop/protos/ui.proto
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
  mesop/web/src/dev_tools/services/logger.ts
  mesop/web/src/error/error_box.ng.html
  mesop/web/src/error/error_box.ts
  mesop/web/src/services/channel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Make style use None for primitive defaults and display false-y primitive fields (if set) in editor fields
  mesop/component_helpers/style.py
  mesop/editor/component_configs.py
  mesop/editor/editor_codemod.py
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Migrate the main Mesop codebase to use proto2 instead of proto3
  generator/generate_proto_schema.py
  mesop/components/badge/badge.ng.html
  mesop/components/badge/badge.proto
  mesop/components/box/box.proto
  mesop/components/button/button.proto
  mesop/components/button/button.ts
  mesop/components/checkbox/checkbox.ng.html
  mesop/components/checkbox/checkbox.proto
  mesop/components/checkbox/checkbox.ts
  mesop/components/divider/divider.proto
  mesop/components/icon/icon.proto
  mesop/components/input/input.ng.html
  mesop/components/input/input.proto
  mesop/components/input/input.ts
  mesop/components/markdown/markdown.proto
  mesop/components/markdown/markdown.ts
  mesop/components/progress_bar/progress_bar.proto
  mesop/components/progress_bar/progress_bar.ts
  mesop/components/progress_spinner/progress_spinner.proto
  mesop/components/radio/radio.ng.html
  mesop/components/radio/radio.proto
  mesop/components/radio/radio.ts
  mesop/components/select/select.ng.html
  mesop/components/select/select.proto
  mesop/components/select/select.ts
  mesop/components/slide_toggle/slide_toggle.proto
  mesop/components/slide_toggle/slide_toggle.ts
  mesop/components/slider/slider.proto
  mesop/components/slider/slider.ts
  mesop/components/text/text.proto
  mesop/components/tooltip/tooltip.ng.html
  mesop/components/tooltip/tooltip.proto
  mesop/web/src/component_renderer/component_renderer.ts
  scripts/component_template/component_name.proto
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Support deleting code in editor update callsite
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/delete_keyword_arg/after.py
  mesop/editor/testdata/delete_keyword_arg/before.py
  mesop/editor/testdata/delete_struct/after.py
  mesop/editor/testdata/delete_struct/before.py
  mesop/protos/ui.proto
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Support deleting field in editor fields
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.scss
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Simplify editor overlay (only in selecting mode; minimal UI)
  mesop/web/src/component_renderer/component_renderer.ng.html
  mesop/web/src/component_renderer/component_renderer.scss
Due: none

Make focused component an inline-block to show the highlight background w/o disturbing box semantics
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Reset to first option after adding new property in editor-fields
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Normalize key behavior for editor field (still displays after delete, but code is deleted)
  mesop/component_helpers/helper.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/delete_key/after.py
  mesop/editor/testdata/delete_key/before.py
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Polish UI for editor fields (input sizing, trash button, layout)
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.scss
Due: none

Provide a cleaner UI for deleting property
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.scss
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Make proto field name consistent with Python API otherwise editor-fields doesn't work properly
  mesop/components/radio/radio.ng.html
  mesop/components/radio/radio.proto
  mesop/components/radio/radio.py
Due: none

Display list elements for editor fields
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Editor codemod supports updating list element
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/list_edit_element/after.py
  mesop/editor/testdata/list_edit_element/before.py
  mesop/protos/ui.proto
Due: none

Editor fields can edit list element
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Support list element delete in editor codemod
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/list_delete_element/after.py
  mesop/editor/testdata/list_delete_element/before.py
Due: none

Support deleting list element in editor fields
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Relax RadioOption type constraints: make fields optional (similar to rest of the API)
  mesop/components/radio/radio.py
Due: none

Editor codemod: support list append element
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/list_append_element/after.py
  mesop/editor/testdata/list_append_element/before.py
  mesop/protos/ui.proto
  pyproject.toml
Due: none

Better name for codemod
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
Due: none

Polish editor fields UX for non-editable fields
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.scss
Due: none

Support append list element in editor fields
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.scss
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Tidy up UI for editor fields
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.scss
Due: none

Change text API to use string literal for type (more consistent and supported in editor)
  mesop/__init__.py
  mesop/components/text/e2e/text_app.py
  mesop/components/text/text.proto
  mesop/components/text/text.py
  mesop/components/text/text.ts
  mesop/editor/testdata/text/after.py
  mesop/editor/testdata/text/before.py
  mesop/examples/playground.py
  mesop/examples/playground_critic.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Preserve existing display semantics in editor focused styles
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Format editor panel more consistently
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.scss
  mesop/web/src/dev_tools/editor_panel/editor_panel.scss
Due: none

Support new component editor codemod
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/editor_handler.py
  mesop/editor/testdata/new_component/after.py
  mesop/editor/testdata/new_component/before.py
  mesop/protos/ui.proto
Due: none

Basic command dialog working to create component
  biome.json
  mesop/web/src/dev_tools/command_dialog/BUILD
  mesop/web/src/dev_tools/command_dialog/command_dialog.ng.html
  mesop/web/src/dev_tools/command_dialog/command_dialog.scss
  mesop/web/src/dev_tools/command_dialog/command_dialog.ts
  mesop/web/src/dev_tools/command_dialog/command_dialog_service.ts
  mesop/web/src/dev_tools/component_tree/component_tree.ng.html
  mesop/web/src/dev_tools/component_tree/component_tree.scss
  mesop/web/src/dev_tools/component_tree/component_tree.ts
  mesop/web/src/services/channel.ts
  packages.bzl
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Improve command dialog: support filtering & close dialog after creating component
  mesop/web/src/dev_tools/command_dialog/command_dialog.ng.html
  mesop/web/src/dev_tools/command_dialog/command_dialog.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Make all component args optional (otherwise it's annoying when creating components with editor)
  mesop/components/markdown/markdown.py
  mesop/components/radio/radio.py
  mesop/components/select/select.py
  mesop/components/text/text.py
Due: none
