Repository wwwillchen/mesop: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

forbid-import-star-ts-proto:
  name: Forbid import glob for TS protos
  description: problematic for tree-shaking when syncing downstream
  entry: sh -c '! git grep -E "import \* as.*_jspb"'
  language: system
  pass_filenames: false

forbid-raw-json-parse:
  name: Forbid raw JSON.parse (use strict_types.ts `jsonParse`)
  description: JSON.parse is loosely typed which causes downstream issues
  entry: sh -c '! git grep -E "JSON\.parse" "optic/**" ":!strict_types.ts"'
  language: system
  pass_filenames: false

forbid-external-bazel-symbols:
  name: Forbid external Bazel symbols in /optic/
  description: External Bazel symbols should be contained in /build_defs/
  entry: sh -c '! git grep -E "@[^D][^)]" "optic/**/BUILD"'
  language: system
  pass_filenames: false

Generated mat-form-field but it's very wonky
  generator/output_data/form_field.binarypb
  generator/output_data/form_field.json
  generator/spec_generator.ts
  mesop/BUILD
  mesop/__init__.py
  mesop/components/form_field/BUILD
  mesop/components/form_field/__init__.py
  mesop/components/form_field/e2e/BUILD
  mesop/components/form_field/e2e/__init__.py
  mesop/components/form_field/e2e/form_field_app.py
  mesop/components/form_field/e2e/form_field_test.ts
  mesop/components/form_field/form_field.ng.html
  mesop/components/form_field/form_field.proto
  mesop/components/form_field/form_field.py
  mesop/components/form_field/form_field.ts
  mesop/testing/BUILD
  mesop/testing/index.py
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Have <mat-form-field> and <mat-label> as part of input component
  generator/component_generator.py
  generator/component_spec.proto
  generator/generate_ng_template.py
  generator/generate_ng_ts.py
  generator/output_data/button.json
  generator/output_data/checkbox.json
  generator/output_data/form_field.json
  generator/output_data/input.binarypb
  generator/output_data/input.json
  generator/spec_generator.ts
  mesop/BUILD
  mesop/__init__.py
  mesop/components/form_field/BUILD
  mesop/components/form_field/__init__.py
  mesop/components/form_field/e2e/BUILD
  mesop/components/form_field/e2e/__init__.py
  mesop/components/form_field/e2e/form_field_app.py
  mesop/components/form_field/e2e/form_field_test.ts
  mesop/components/form_field/form_field.ng.html
  mesop/components/form_field/form_field.proto
  mesop/components/form_field/form_field.py
  mesop/components/form_field/form_field.ts
  mesop/components/input/e2e/input_app.py
  mesop/components/input/input.ng.html
  mesop/components/input/input.proto
  mesop/components/input/input.py
  mesop/components/input/input.ts
  mesop/testing/BUILD
  mesop/testing/index.py
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
  pyrightconfig.json
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Handle native input event
  generator/fixtures/component_name.py
  generator/generate_ng_ts.py
  generator/output_data/input.binarypb
  generator/output_data/input.json
  generator/spec_generator.ts
  mesop/__init__.py
  mesop/components/input/e2e/input_app.py
  mesop/components/input/input.ng.html
  mesop/components/input/input.proto
  mesop/components/input/input.py
  mesop/components/input/input.ts
  mesop/event_handler/event_handler.py
  mesop/events/__init__.py
  mesop/events/events.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Add docs to ComponentSpec protos
  generator/component_spec.proto
Due: none

Generate docs for components (from Angular material)
  docs/components/box.md
  docs/components/checkbox.md
  docs/components/input.md
  generator/fixtures/component_name.py
  generator/generate_py_component.py
  generator/output_data/button.binarypb
  generator/output_data/button.json
  generator/output_data/checkbox.binarypb
  generator/output_data/checkbox.json
  generator/output_data/form_field.binarypb
  generator/output_data/form_field.json
  generator/output_data/input.binarypb
  generator/output_data/input.json
  generator/spec_generator.ts
  mesop/components/button/button.py
  mesop/components/checkbox/checkbox.py
  mesop/components/input/input.py
  mkdocs.yml
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Add tooltip component
  docs/components/tooltip.md
  generator/output_data/tooltip.binarypb
  generator/output_data/tooltip.json
  generator/spec_generator.ts
  mesop/BUILD
  mesop/__init__.py
  mesop/components/tooltip/BUILD
  mesop/components/tooltip/__init__.py
  mesop/components/tooltip/e2e/BUILD
  mesop/components/tooltip/e2e/__init__.py
  mesop/components/tooltip/e2e/tooltip_app.py
  mesop/components/tooltip/e2e/tooltip_test.ts
  mesop/components/tooltip/tooltip.ng.html
  mesop/components/tooltip/tooltip.proto
  mesop/components/tooltip/tooltip.py
  mesop/components/tooltip/tooltip.ts
  mesop/testing/BUILD
  mesop/testing/index.py
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
  mkdocs.yml
  packages.bzl
  pyproject.toml
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Add badge component
  docs/components/badge.md
  generator/output_data/badge.binarypb
  generator/output_data/badge.json
  generator/output_data/button.binarypb
  generator/output_data/button.json
  generator/spec_generator.ts
  mesop/BUILD
  mesop/__init__.py
  mesop/components/badge/BUILD
  mesop/components/badge/__init__.py
  mesop/components/badge/badge.ng.html
  mesop/components/badge/badge.proto
  mesop/components/badge/badge.py
  mesop/components/badge/badge.ts
  mesop/components/badge/e2e/BUILD
  mesop/components/badge/e2e/__init__.py
  mesop/components/badge/e2e/badge_app.py
  mesop/components/badge/e2e/badge_test.ts
  mesop/components/button/button.ng.html
  mesop/components/button/button.proto
  mesop/components/button/button.py
  mesop/testing/BUILD
  mesop/testing/index.py
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
  mkdocs.yml
  packages.bzl
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Add divider component
  docs/components/divider.md
  generator/output_data/divider.binarypb
  generator/output_data/divider.json
  generator/spec_generator.ts
  mesop/BUILD
  mesop/__init__.py
  mesop/components/divider/BUILD
  mesop/components/divider/__init__.py
  mesop/components/divider/divider.ng.html
  mesop/components/divider/divider.proto
  mesop/components/divider/divider.py
  mesop/components/divider/divider.ts
  mesop/components/divider/e2e/BUILD
  mesop/components/divider/e2e/__init__.py
  mesop/components/divider/e2e/divider_app.py
  mesop/components/divider/e2e/divider_test.ts
  mesop/testing/BUILD
  mesop/testing/index.py
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
  mkdocs.yml
  packages.bzl
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Add icon component
  docs/components/icon.md
  generator/output_data/icon.binarypb
  generator/output_data/icon.json
  generator/spec_generator.ts
  mesop/BUILD
  mesop/__init__.py
  mesop/components/icon/BUILD
  mesop/components/icon/__init__.py
  mesop/components/icon/e2e/BUILD
  mesop/components/icon/e2e/__init__.py
  mesop/components/icon/e2e/icon_app.py
  mesop/components/icon/e2e/icon_test.ts
  mesop/components/icon/icon.ng.html
  mesop/components/icon/icon.proto
  mesop/components/icon/icon.py
  mesop/components/icon/icon.ts
  mesop/testing/BUILD
  mesop/testing/index.py
  mesop/web/src/app/app.ng.html
  mesop/web/src/app/app.ts
  mesop/web/src/app/dev/index.html
  mesop/web/src/app/prod/index.html
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
  mkdocs.yml
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Add progress bar component
  docs/components/progress_bar.md
  generator/output_data/progress_bar.binarypb
  generator/output_data/progress_bar.json
  generator/spec_generator.ts
  mesop/BUILD
  mesop/__init__.py
  mesop/components/progress_bar/BUILD
  mesop/components/progress_bar/__init__.py
  mesop/components/progress_bar/e2e/BUILD
  mesop/components/progress_bar/e2e/__init__.py
  mesop/components/progress_bar/e2e/progress_bar_app.py
  mesop/components/progress_bar/e2e/progress_bar_test.ts
  mesop/components/progress_bar/progress_bar.ng.html
  mesop/components/progress_bar/progress_bar.proto
  mesop/components/progress_bar/progress_bar.py
  mesop/components/progress_bar/progress_bar.ts
  mesop/protos/ui.proto
  mesop/testing/BUILD
  mesop/testing/index.py
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
  mkdocs.yml
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Boost parallelism for playwright to 8
  playwright.config.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Add progress spinner & slide toggle component
  docs/components/progress_spinner.md
  generator/generate_ng_ts.py
  generator/generate_py_component.py
  generator/output_data/progress_spinner.binarypb
  generator/output_data/progress_spinner.json
  generator/output_data/slide_toggle.binarypb
  generator/output_data/slide_toggle.json
  generator/spec_generator.ts
  mesop/BUILD
  mesop/__init__.py
  mesop/components/progress_spinner/BUILD
  mesop/components/progress_spinner/__init__.py
  mesop/components/progress_spinner/e2e/BUILD
  mesop/components/progress_spinner/e2e/__init__.py
  mesop/components/progress_spinner/e2e/progress_spinner_app.py
  mesop/components/progress_spinner/e2e/progress_spinner_test.ts
  mesop/components/progress_spinner/progress_spinner.ng.html
  mesop/components/progress_spinner/progress_spinner.proto
  mesop/components/progress_spinner/progress_spinner.py
  mesop/components/progress_spinner/progress_spinner.ts
  mesop/components/slide_toggle/BUILD
  mesop/components/slide_toggle/__init__.py
  mesop/components/slide_toggle/e2e/BUILD
  mesop/components/slide_toggle/e2e/__init__.py
  mesop/components/slide_toggle/e2e/slide_toggle_app.py
  mesop/components/slide_toggle/e2e/slide_toggle_test.ts
  mesop/components/slide_toggle/slide_toggle.ng.html
  mesop/components/slide_toggle/slide_toggle.proto
  mesop/components/slide_toggle/slide_toggle.py
  mesop/components/slide_toggle/slide_toggle.ts
  mesop/testing/BUILD
  mesop/testing/index.py
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
  mkdocs.yml
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Fix bug with base-64 encoding
  mesop/server/server.py
  mesop/web/src/services/channel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Remove the need to wrap event handlers with decorator me.on by introducing trace mode to collect event handlers as a first render loop pass (closes #28)
  docs/concepts.md
  docs/index.md
  mesop/BUILD
  mesop/__init__.py
  mesop/component_helpers/helper.py
  mesop/components/button/button.py
  mesop/components/checkbox/checkbox.py
  mesop/components/checkbox/e2e/checkbox_app.py
  mesop/components/input/e2e/input_app.py
  mesop/components/input/input.py
  mesop/components/progress_bar/progress_bar.py
  mesop/components/slide_toggle/e2e/slide_toggle_app.py
  mesop/components/slide_toggle/slide_toggle.py
  mesop/components/text_input/e2e/text_input_app.py
  mesop/components/text_input/text_input.py
  mesop/event_handler/BUILD
  mesop/event_handler/__init__.py
  mesop/event_handler/event_handler.py
  mesop/examples/generator.py
  mesop/examples/nested.py
  mesop/examples/simple.py
  mesop/examples/simple_button.py
  mesop/runtime/context.py
  mesop/runtime/runtime.py
  mesop/server/server.py
Due: forbid-external-bazel-symbols

Rename handler_type -> register_event_handler & update Py component generator
  generator/fixtures/component_name.py
  generator/generate_py_component.py
  mesop/component_helpers/__init__.py
  mesop/component_helpers/helper.py
  mesop/components/button/button.py
  mesop/components/checkbox/checkbox.py
  mesop/components/input/input.py
  mesop/components/progress_bar/progress_bar.py
  mesop/components/slide_toggle/slide_toggle.py
  mesop/components/text_input/text_input.py
Due: none

Add radio component
  generator/component_generator.py
  generator/component_spec.proto
  generator/output_data/badge.json
  generator/output_data/button.json
  generator/output_data/checkbox.json
  generator/output_data/divider.json
  generator/output_data/form_field.json
  generator/output_data/icon.json
  generator/output_data/input.json
  generator/output_data/progress_bar.json
  generator/output_data/progress_spinner.json
  generator/output_data/radio.binarypb
  generator/output_data/radio.json
  generator/output_data/slide_toggle.json
  generator/output_data/tooltip.json
  generator/spec_generator.ts
  mesop/BUILD
  mesop/__init__.py
  mesop/components/radio/BUILD
  mesop/components/radio/__init__.py
  mesop/components/radio/e2e/BUILD
  mesop/components/radio/e2e/__init__.py
  mesop/components/radio/e2e/radio_app.py
  mesop/components/radio/e2e/radio_test.ts
  mesop/components/radio/radio.ng.html
  mesop/components/radio/radio.proto
  mesop/components/radio/radio.py
  mesop/components/radio/radio.ts
  mesop/protos/ui.proto
  mesop/testing/BUILD
  mesop/testing/index.py
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
  packages.bzl
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Add select component
  generator/output_data/select.binarypb
  generator/output_data/select.json
  generator/spec_generator.ts
  mesop/BUILD
  mesop/__init__.py
  mesop/components/select/BUILD
  mesop/components/select/__init__.py
  mesop/components/select/e2e/BUILD
  mesop/components/select/e2e/__init__.py
  mesop/components/select/e2e/select_app.py
  mesop/components/select/e2e/select_test.ts
  mesop/components/select/select.ng.html
  mesop/components/select/select.proto
  mesop/components/select/select.py
  mesop/components/select/select.ts
  mesop/testing/BUILD
  mesop/testing/index.py
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Add slider component
  generator/component_generator.py
  generator/output_data/slider.binarypb
  generator/output_data/slider.json
  generator/spec_generator.ts
  mesop/BUILD
  mesop/__init__.py
  mesop/components/slider/BUILD
  mesop/components/slider/__init__.py
  mesop/components/slider/e2e/BUILD
  mesop/components/slider/e2e/__init__.py
  mesop/components/slider/e2e/slider_app.py
  mesop/components/slider/e2e/slider_test.ts
  mesop/components/slider/slider.ng.html
  mesop/components/slider/slider.proto
  mesop/components/slider/slider.py
  mesop/components/slider/slider.ts
  mesop/testing/BUILD
  mesop/testing/index.py
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
  packages.bzl
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Support textarea for input type and clean up variant
  mesop/components/input/e2e/input_app.py
  mesop/components/input/input.ng.html
  mesop/components/input/input.proto
  mesop/components/input/input.py
Due: none

Increase playwright test timeout on CI (test running out of time during teardown, e.g. https://github.com/wwwillchen/mesop/actions/runs/7253027985/job/19758750378)
  playwright.config.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Make text API more ergonomic (text is a positional argument)
  mesop/components/text/text.py
Due: none

Update generator to not include redundant type information in py docs generator
  generator/generate_py_component.py
Due: none

Remove redundant type information from pydocs
  mesop/components/badge/badge.py
  mesop/components/box/box.py
  mesop/components/button/button.py
  mesop/components/checkbox/checkbox.py
  mesop/components/divider/divider.py
  mesop/components/icon/icon.py
  mesop/components/input/input.py
  mesop/components/markdown/markdown.py
  mesop/components/progress_bar/progress_bar.py
  mesop/components/progress_spinner/progress_spinner.py
  mesop/components/radio/radio.py
  mesop/components/select/select.py
  mesop/components/slide_toggle/slide_toggle.py
  mesop/components/slider/slider.py
  mesop/components/text_input/text_input.py
  mesop/components/tooltip/tooltip.py
  scripts/component_template/component_name.py
Due: none

Rename scripts/{run_prod}->{cli}.sh
  scripts/cli.sh
Due: none

Scaffold simple playground.py in examples
  mesop/examples/index.py
  mesop/examples/playground.py
  mesop/examples/simple.py
Due: none

Rename Box's styles attribute to style to be consistent with HTML API
  mesop/components/box/box.proto
  mesop/components/box/box.py
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Support typography for text component
  mesop/__init__.py
  mesop/components/text/e2e/text_app.py
  mesop/components/text/text.ng.html
  mesop/components/text/text.proto
  mesop/components/text/text.py
  mesop/components/text/text.ts
  mesop/examples/playground.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix renaming callsites for styles -> style
  mesop/components/badge/e2e/badge_app.py
  mesop/components/box/e2e/box_app.py
  mesop/components/tooltip/e2e/tooltip_app.py
  mesop/examples/nested.py
Due: none

display: block as default display for box
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Add style property to text component
  mesop/components/text/text.ng.html
  mesop/components/text/text.proto
  mesop/components/text/text.py
  mesop/components/text/text.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Add rows for input textarea
  mesop/__init__.py
  mesop/components/input/input.ng.html
  mesop/components/input/input.proto
  mesop/components/input/input.py
  mesop/examples/playground.py
Due: none

Support style property for input component
  mesop/components/input/input.ng.html
  mesop/components/input/input.proto
  mesop/components/input/input.py
Due: none

Fix bug in component renderer by making the track fn more robust
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Improve icon component API and use Material Symbols
  mesop/components/icon/icon.ng.html
  mesop/components/icon/icon.proto
  mesop/components/icon/icon.py
  mesop/web/src/app/app.ts
  mesop/web/src/app/dev/index.html
  mesop/web/src/app/prod/index.html
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Simplify variant names for button component
  mesop/components/button/button.py
Due: none

Add icon button variant
  mesop/components/button/button.ng.html
  mesop/components/button/button.py
Due: none

Remove noisy print call from dataclass_utils
  mesop/dataclass_utils/dataclass_utils.py
Due: none

Simple navigation/routing (client-side)
  build_defs/defaults.bzl
  mesop/BUILD
  mesop/__init__.py
  mesop/commands/BUILD
  mesop/commands/__init__.py
  mesop/commands/navigate.py
  mesop/examples/index.py
  mesop/examples/playground.py
  mesop/examples/simple_button.py
  mesop/protos/ui.proto
  mesop/runtime/context.py
  mesop/server/server.py
  mesop/web/src/app/app.ts
  mesop/web/src/app/dev/index.html
  mesop/web/src/app/prod/index.html
  mesop/web/src/services/channel.ts
  package.json
  yarn.lock
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Update broken tests
  mesop/components/input/e2e/input_app.py
  mesop/components/text/e2e/text_test.ts
  mesop/examples/e2e/simple_test.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix type issues with icon_app.py
  mesop/components/icon/e2e/icon_app.py
Due: none

Path conditions:
  forbid-import-star-ts-proto: any of: \.(ts)$
  forbid-raw-json-parse: any of: \.(ts)$
  forbid-external-bazel-symbols: any of: BUILD$
