Repository wwwillchen/mesop: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

forbid-import-star-ts-proto:
  name: Forbid import glob for TS protos
  description: problematic for tree-shaking when syncing downstream
  entry: sh -c '! git grep -E "import \* as.*_jspb"'
  language: system
  pass_filenames: false

forbid-raw-json-parse:
  name: Forbid raw JSON.parse (use strict_types.ts `jsonParse`)
  description: JSON.parse is loosely typed which causes downstream issues
  entry: sh -c '! git grep -E "JSON\.parse" "optic/**" ":!strict_types.ts"'
  language: system
  pass_filenames: false

forbid-external-bazel-symbols:
  name: Forbid external Bazel symbols in /optic/
  description: External Bazel symbols should be contained in /build_defs/
  entry: sh -c '! git grep -E "@[^D][^)]" "optic/**/BUILD"'
  language: system
  pass_filenames: false

Fix python type-checking errors in nested.py
  mesop/examples/nested.py
Due: none

Scaffold ComponentSpec tool
  component_specs/BUILD
  component_specs/checkbox_spec.py
  component_specs/fixtures/component_name.ts
  mesop/protos/ui.proto
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Default value for text input
  mesop/components/text_input/e2e/text_input_app.py
  mesop/components/text_input/text_input.ng.html
  mesop/components/text_input/text_input.proto
  mesop/components/text_input/text_input.py
  mesop/components/text_input/text_input.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Support default value for checkbox
  mesop/components/checkbox/checkbox.ng.html
  mesop/components/checkbox/checkbox.proto
  mesop/components/checkbox/checkbox.py
  mesop/components/checkbox/checkbox.ts
  mesop/components/checkbox/e2e/checkbox_app.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Create generate_from_spec.py which creates almost all the boilerplate for a new component based on ComponentSpec
  component_specs/BUILD
  component_specs/__init__.py
  component_specs/checkbox_spec.py
  component_specs/fixtures/component_name.py
  component_specs/fixtures/component_name.ts
  component_specs/generate_from_spec.py
  mesop/protos/ui.proto
  pyproject.toml
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Fix up generate_from_spec.py and fully generate checkbox from ComponentSpec (and pass tests)
  component_specs/BUILD
  component_specs/checkbox_spec.py
  component_specs/fixtures/component_name.ts
  component_specs/generate_from_spec.py
  mesop/__init__.py
  mesop/components/checkbox/checkbox.ng.html
  mesop/components/checkbox/checkbox.proto
  mesop/components/checkbox/checkbox.py
  mesop/components/checkbox/checkbox.ts
  mesop/components/checkbox/e2e/checkbox_app.py
  mesop/components/checkbox/e2e/checkbox_test.ts
  mesop/components/text_input/e2e/text_input_app.py
  mesop/examples/simple.py
  mesop/protos/ui.proto
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Fix import alias that was removed by ruff
  mesop/__init__.py
Due: none

Fix strict dependency violations
  mesop/web/src/dev_tools/component_tree/BUILD
  mesop/web/src/services/BUILD
Due: forbid-external-bazel-symbols

Create third-party wrapper for marked dependency (makes it easier to sync downstream)
  mesop/components/markdown/BUILD
  mesop/components/markdown/markdown.ts
  mesop/web/third_party/BUILD
  mesop/web/third_party/marked.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Scaffold generate_spec.ts (nodejs_binary)
  build_defs/defaults.bzl
  component_specs/BUILD
  component_specs/generate_spec.ts
  component_specs/hello.js
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Setup TS protos for generate_spec.ts (ComponentSpec)
  component_specs/BUILD
  component_specs/component_spec.proto
  component_specs/component_spec_jspb_proto_pb/component_specs/component_spec_pb.ts
  component_specs/generate_spec.ts
  component_specs/input_data/checkbox.ts
  tsconfig.json
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Create functional NgParser that generates ComponentSpec for mat-checkbox
  component_specs/component_spec.proto
  component_specs/generate_spec.ts
  component_specs/input_data/checkbox.ts
  component_specs/output_data/checkbox.json
  mesop/protos/ui.proto
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Refactor generate_spec.ts
  component_specs/generate_spec.ts
  component_specs/util.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Refactor component spec protos
  component_specs/component_spec.proto
  component_specs/generate_spec.ts
  component_specs/output_data/checkbox.json
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix up generate_from_spec.py
  component_specs/BUILD
  component_specs/checkbox_spec.py
  component_specs/fixtures/component_name.ts
  component_specs/generate_from_spec.py
  scripts/setup_proto_py_modules.sh
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Working end-to-end (1. Spec, 2. Component) generation for checkbox; however: doesn't support ng-content & default value
  component_specs/BUILD
  component_specs/checkbox_spec.py
  component_specs/component_generator.py
  component_specs/component_spec.proto
  component_specs/fixtures/component_name.py
  component_specs/hello.js
  component_specs/output_data/checkbox.binarypb
  component_specs/output_data/checkbox.json
  component_specs/spec_generator.ts
  mesop/__init__.py
  mesop/components/checkbox/checkbox.ng.html
  mesop/components/checkbox/checkbox.proto
  mesop/components/checkbox/checkbox.py
  mesop/components/checkbox/checkbox.ts
  mesop/components/checkbox/e2e/checkbox_app.py
  mesop/components/text_input/e2e/text_input_app.py
  mesop/examples/simple.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

[component generator] supports content projection
  component_specs/component_generator.py
  component_specs/fixtures/component_name.py
  mesop/component_helpers/__init__.py
  mesop/component_helpers/helper.py
  mesop/components/box/box.py
  mesop/components/checkbox/checkbox.ng.html
  mesop/components/checkbox/checkbox.py
  mesop/components/checkbox/e2e/checkbox_app.py
  mesop/examples/simple.py
  mesop/web/src/component_renderer/component_renderer.ng.html
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

[component generator] supports getter properties (@Input)
  component_specs/output_data/checkbox.binarypb
  component_specs/output_data/checkbox.json
  component_specs/spec_generator.ts
  mesop/__init__.py
  mesop/components/checkbox/checkbox.ng.html
  mesop/components/checkbox/checkbox.proto
  mesop/components/checkbox/checkbox.py
  mesop/components/checkbox/e2e/checkbox_app.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

[component generator] handle literal types default value
  component_specs/component_generator.py
  component_specs/component_spec.proto
  component_specs/output_data/checkbox.binarypb
  component_specs/output_data/checkbox.json
  component_specs/spec_generator.ts
  mesop/components/checkbox/checkbox.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Minor adjustments to spec_generator.ts - run in dry mode if --out is not set & rename util.ts -> utils.ts
  component_specs/spec_generator.ts
  component_specs/utils.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Refactor python component generator
  component_specs/component_generator.py
  component_specs/format_types.py
  component_specs/generate_ng_template.py
  component_specs/generate_ng_ts.py
  component_specs/generate_proto_schema.py
  component_specs/generate_py_component.py
  component_specs/utils.py
Due: none

Rename component_specs dir to generator/
  component_specs/component_spec_jspb_proto_pb/component_specs/component_spec_pb.ts
  generator/BUILD
  generator/__init__.py
  generator/component_generator.py
  generator/component_spec.proto
  generator/component_spec_jspb_proto_pb/generator/component_spec_pb.ts
  generator/fixtures/component_name.py
  generator/fixtures/component_name.ts
  generator/format_types.py
  generator/generate_ng_template.py
  generator/generate_ng_ts.py
  generator/generate_proto_schema.py
  generator/generate_py_component.py
  generator/input_data/checkbox.ts
  generator/output_data/checkbox.binarypb
  generator/output_data/checkbox.json
  generator/spec_generator.ts
  generator/utils.py
  generator/utils.ts
  pyproject.toml
  scripts/setup_proto_py_modules.sh
  tsconfig.json
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Update ci.yml to build all the main targets
  .github/workflows/ci.yml
Due: none

Clean up type formatters
  generator/format_types.py
  generator/generate_ng_ts.py
  generator/generate_proto_schema.py
  generator/generate_py_component.py
Due: none

Clean up file path references in py (generator)
  generator/component_generator.py
  generator/generate_ng_ts.py
  generator/generate_py_component.py
  generator/utils.py
Due: none

Do not hardcode path reference for generator (TS)
  generator/component_spec.proto
  generator/output_data/checkbox.binarypb
  generator/output_data/checkbox.json
  generator/spec_generator.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Add gen_components.sh script
  scripts/gen_components.sh
Due: none

Automate more parts of spec input
  generator/spec_generator.ts
  generator/utils.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Scan all files for output_data for phase 2 (generate components)
  generator/component_generator.py
  scripts/gen_components.sh
Due: none

Add git submodule for angular_components (use for component generator)
  .gitmodules
Due: none

Integrate spec_generator.ts with angular material git submodule
  generator/input_data/checkbox.ts
  generator/spec_generator.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Include button to generator spec input
  generator/spec_generator.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

support native events & skip properties in component generator
  generator/component_spec.proto
  generator/fixtures/component_name.py
  generator/generate_ng_template.py
  generator/generate_ng_ts.py
  generator/generate_proto_schema.py
  generator/generate_py_component.py
  generator/output_data/button.binarypb
  generator/output_data/button.json
  generator/output_data/checkbox.json
  generator/spec_generator.ts
  mesop/components/button/button.ng.html
  mesop/components/button/button.proto
  mesop/components/button/button.py
  mesop/components/button/button.ts
  mesop/examples/generator.py
  mesop/examples/nested.py
  mesop/examples/simple.py
  mesop/examples/simple_button.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Generate variants/directives through elaborate trickery with template generation & variant index for content projection
  generator/fixtures/component_name.py
  generator/generate_ng_template.py
  generator/generate_proto_schema.py
  generator/generate_py_component.py
  mesop/component_helpers/helper.py
  mesop/components/button/button.ng.html
  mesop/components/button/button.proto
  mesop/components/button/button.py
  mesop/examples/simple_button.py
  mesop/protos/ui.proto
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Rename gen_component.py -> scaffold_component.py
  docs/internal/new_component.md
  mesop/BUILD
  mesop/__init__.py
  mesop/testing/BUILD
  mesop/testing/index.py
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/component_renderer.ts
  mesop/web/src/dev_tools/services/BUILD
  scripts/README.md
  scripts/scaffold_component.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Extract generate-able parts from component_renderer
  mesop/web/src/component_renderer/component_renderer.ts
  mesop/web/src/component_renderer/type_to_component.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

update scaffold_component.py: update TS file (type_to_component)
  scripts/scaffold_component.py
Due: none

Simplify scaffolding component template since interactivity is added in the next phase
  scripts/component_template/component_name.ng.html
  scripts/component_template/component_name.proto
  scripts/component_template/component_name.py
  scripts/component_template/component_name.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Scaffold input component (minor tweak to scaffold template)
  mesop/BUILD
  mesop/__init__.py
  mesop/components/input/BUILD
  mesop/components/input/__init__.py
  mesop/components/input/e2e/BUILD
  mesop/components/input/e2e/__init__.py
  mesop/components/input/e2e/input_app.py
  mesop/components/input/e2e/input_test.ts
  mesop/components/input/input.ng.html
  mesop/components/input/input.proto
  mesop/components/input/input.py
  mesop/components/input/input.ts
  mesop/testing/BUILD
  mesop/testing/index.py
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Generated mat-input (but not very functional)
  generator/generate_ng_template.py
  generator/output_data/input.binarypb
  generator/output_data/input.json
  generator/spec_generator.ts
  mesop/components/input/e2e/input_app.py
  mesop/components/input/input.ng.html
  mesop/components/input/input.proto
  mesop/components/input/input.py
  mesop/components/input/input.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Path conditions:
  forbid-import-star-ts-proto: any of: \.(ts)$
  forbid-raw-json-parse: any of: \.(ts)$
  forbid-external-bazel-symbols: any of: BUILD$
