Repository wwwillchen/mesop: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

forbid-import-star-ts-proto:
  name: Forbid import glob for TS protos
  description: problematic for tree-shaking when syncing downstream
  entry: sh -c '! git grep -E "import \* as.*_jspb"'
  language: system
  pass_filenames: false

forbid-raw-json-parse:
  name: Forbid raw JSON.parse (use strict_types.ts `jsonParse`)
  description: JSON.parse is loosely typed which causes downstream issues
  entry: sh -c '! git grep -E "JSON\.parse" "optic/**" ":!strict_types.ts"'
  language: system
  pass_filenames: false

forbid-external-bazel-symbols:
  name: Forbid external Bazel symbols in /optic/
  description: External Bazel symbols should be contained in /build_defs/
  entry: sh -c '! git grep -E "@[^D][^)]" "optic/**/BUILD"'
  language: system
  pass_filenames: false

Support backward/forward navigation properly
  mesop/protos/ui.proto
  mesop/runtime/context.py
  mesop/web/src/app/app.ts
  mesop/web/src/services/channel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Clean up key API for MesopEvent and fix navigation on examples/index.py
  mesop/component_helpers/helper.py
  mesop/components/checkbox/checkbox.py
  mesop/components/progress_bar/progress_bar.py
  mesop/components/radio/radio.py
  mesop/components/select/select.py
  mesop/components/slide_toggle/slide_toggle.py
  mesop/components/slider/slider.py
  mesop/events/events.py
  mesop/examples/index.py
  mesop/examples/simple.py
Due: none

Shared navmenu (but need a composite component to make it look proper)
  mesop/examples/buttons.py
  mesop/examples/index.py
  mesop/examples/playground.py
  mesop/examples/shared/BUILD
  mesop/examples/shared/__init__.py
  mesop/examples/shared/navmenu.py
Due: forbid-external-bazel-symbols

Provide a composite component helper (experimental)
  mesop/__init__.py
  mesop/component_helpers/helper.py
Due: none

Mark markdown API more ergonomic
  mesop/components/markdown/markdown.py
Due: none

Create scaffold pattern for multi-page example app
  mesop/examples/buttons.py
  mesop/examples/index.py
  mesop/examples/playground.py
  mesop/examples/shared/navmenu.py
Due: none

Fix the composite component helper - it's mostly functional, but it doesn't remember the precise index of where to append nodes
  mesop/__init__.py
  mesop/component_helpers/helper.py
  mesop/examples/composite.py
  mesop/examples/index.py
  mesop/examples/playground.py
  mesop/examples/shared/navmenu.py
  mesop/runtime/context.py
Due: none

Reduce noise from werkzeurg logging
  mesop/cli/cli.py
Due: none

Remove print calls
  mesop/runtime/runtime.py
  mesop/server/server.py
Due: none

More robust hot reloading (more resilient to errors)
  mesop/cli/cli.py
  mesop/cli/execute_module.py
Due: none

Avoid leaking implementation detail from ContextManager classes
  mesop/component_helpers/helper.py
Due: none

Fix missed API renaming (child -> slot) in example
  mesop/examples/composite.py
Due: none

Switch to using aspect's py_test Bazel rule
  build_defs/defaults.bzl
Due: none

Add proto dep for exceptions
  mesop/exceptions/BUILD
Due: forbid-external-bazel-symbols

Fix dataclass_utils to handle recursive dataclasses for loading from json
  mesop/dataclass_utils/BUILD
  mesop/dataclass_utils/__init__.py
  mesop/dataclass_utils/dataclass_utils.py
  mesop/dataclass_utils/dataclass_utils_test.py
Due: forbid-external-bazel-symbols

Add playground critic example
  mesop/examples/index.py
  mesop/examples/playground_critic.py
  mesop/examples/shared/navmenu.py
Due: none

Support stateclass without defaults
  mesop/api.py
  mesop/dataclass_utils/__init__.py
  mesop/dataclass_utils/dataclass_utils.py
  mesop/dataclass_utils/dataclass_utils_test.py
  mesop/examples/playground_critic.py
Due: none

Catch JS errors (from Angular) in GlobalErrorHandler and show them to users
  mesop/web/src/app/app.ng.html
  mesop/web/src/app/app.ts
  mesop/web/src/error/error_box.ng.html
  mesop/web/src/error/error_box.scss
  mesop/web/src/error/error_box.ts
  mesop/web/src/services/global_error_handler.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix issue with composite slot by preserving children ordering
  mesop/component_helpers/helper.py
  mesop/examples/composite.py
  mesop/runtime/context.py
Due: none

WIP: sidenav
  mesop/BUILD
  mesop/__init__.py
  mesop/components/sidenav/BUILD
  mesop/components/sidenav/__init__.py
  mesop/components/sidenav/e2e/BUILD
  mesop/components/sidenav/e2e/__init__.py
  mesop/components/sidenav/e2e/sidenav_app.py
  mesop/components/sidenav/e2e/sidenav_test.ts
  mesop/components/sidenav/sidenav.ng.html
  mesop/components/sidenav/sidenav.proto
  mesop/components/sidenav/sidenav.py
  mesop/components/sidenav/sidenav.ts
  mesop/testing/BUILD
  mesop/testing/index.py
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Support click event for box
  mesop/components/box/box.proto
  mesop/components/box/box.py
  mesop/components/box/e2e/box_app.py
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Revamp docs: structure, styles & plugin
  docs/concepts/components.md
  docs/concepts/interactivity.md
  docs/concepts/pages.md
  docs/getting_started.md
  docs/guides/deployment.md
  docs/guides/troubleshooting.md
  docs/index.md
  docs/stylesheets/extra.css
  mesop/examples/index.py
  mesop/examples/readme_app.py
  mkdocs.yml
Due: none

update logo/favicon
  docs/assets/favicon.ico
  docs/assets/favicon.png
  docs/assets/logo.png
  docs/stylesheets/extra.css
  mesop/web/src/app/prod/BUILD
  mesop/web/src/app/prod/favicon.ico
  mesop/web/src/app/prod/index.html
  mkdocs.yml
Due: forbid-external-bazel-symbols

Setup biome
  biome.json
  package.json
  yarn.lock
Due: none

Run: yarn biome lint mesop --apply-unsafe
  mesop/components/badge/badge.ts
  mesop/components/divider/divider.ts
  mesop/components/icon/icon.ts
  mesop/components/markdown/markdown.ts
  mesop/components/progress_spinner/progress_spinner.ts
  mesop/components/text/text.ts
  mesop/components/text_input/text_input.ts
  mesop/components/tooltip/tooltip.ts
  mesop/web/src/app/app.ts
  mesop/web/src/component_renderer/component_loader.ts
  mesop/web/src/component_renderer/component_renderer.ts
  mesop/web/src/dev_tools/component_tree/component_tree.ts
  mesop/web/src/dev_tools/components_panel/components_panel.ts
  mesop/web/src/dev_tools/services/dev_tools_settings.ts
  mesop/web/src/dev_tools/services/logger.ts
  mesop/web/src/error/error_box.ts
  mesop/web/src/services/channel.ts
  mesop/web/src/services/global_error_handler.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

pre-commit-hook for biome
  .pre-commit-config.yaml
  biome.json
Due: none

Fold pre-commit hook in GitHub actions into the main job since it requires yarn install
  .github/workflows/ci.yml
Due: none

Use relative path for code snippet in docs/index.md
  docs/index.md
Due: none

Slightly dull the white to make dark theme a little easier to read
  docs/stylesheets/extra.css
Due: none

fix options formatting for checkbox.md & prettierignore docs md files
  .prettierignore
  docs/components/checkbox.md
Due: none

Fix colors for docs
  docs/stylesheets/extra.css
Due: none

Build MVP docs & examples (closes #9)
  docs/concepts.md
  docs/concepts/components.md
  docs/concepts/interactivity.md
  docs/getting_started.md
  docs/guides/components.md
  docs/guides/interactivity.md
  docs/guides/pages.md
  docs/index.md
  docs/internal/modes.md
  docs/stylesheets/extra.css
  mesop/examples/docs/BUILD
  mesop/examples/docs/__init__.py
  mesop/examples/docs/counter.py
  mesop/examples/docs/hello_world.py
  mesop/examples/docs/loading.py
  mesop/examples/docs/streaming.py
  mesop/examples/index.py
  mkdocs.yml
Due: forbid-external-bazel-symbols

Simplify progress spinner API
  mesop/components/progress_spinner/e2e/progress_spinner_app.py
  mesop/components/progress_spinner/progress_spinner.ng.html
  mesop/components/progress_spinner/progress_spinner.proto
  mesop/components/progress_spinner/progress_spinner.py
  mesop/components/progress_spinner/progress_spinner.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Tweak docs to include the readme app at the end of the getting started guide
  docs/getting_started.md
  mesop/examples/readme_app.py
Due: none

Update CLI to move monitoring thread to be flag-guarded by debug (and not a top-level fn which caused issues downstream)
  mesop/cli/cli.py
Due: none

Use localhost instead of 127.0.0.1 (better for hot reload downstream)
  mesop/cli/cli.py
Due: none

Update cli BUILD to separate out py_library for easier reuse
  mesop/cli/BUILD
Due: forbid-external-bazel-symbols

Update examples to fix py typecheck (API changed)
  mesop/examples/docs/loading.py
  mesop/examples/playground.py
  mesop/examples/playground_critic.py
Due: none

Add internal doc on hot reload
  docs/internal/hot_reload.md
  mkdocs.yml
Due: none

improved validation
  mesop/cli/execute_module.py
  mesop/components/text/text.py
  mesop/examples/buttons.py
  mesop/examples/index.py
Due: none

Path conditions:
  forbid-import-star-ts-proto: any of: \.(ts)$
  forbid-raw-json-parse: any of: \.(ts)$
  forbid-external-bazel-symbols: any of: BUILD$
