Repository wwwillchen/mesop: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.3
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/wwwillchen/pre-commit-buildifier
    rev: 0.1.1
    hooks:
      - id: buildifier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: forbid-import-star-ts-proto
        name: Forbid import glob for TS protos
        description: problematic for tree-shaking when syncing downstream
        entry: sh -c '! git grep -E "import \* as.*_jspb"'
        files: \.(ts)$
        language: system
        pass_filenames: false
      - id: forbid-raw-json-parse
        name: Forbid raw JSON.parse (use strict_types.ts `jsonParse`)
        description: JSON.parse is loosely typed which causes downstream issues
        entry: sh -c '! git grep -E "JSON\.parse" "optic/**" ":!strict_types.ts"'
        files: \.(ts)$
        language: system
        pass_filenames: false
      - id: forbid-external-bazel-symbols
        name: Forbid external Bazel symbols in /optic/
        description: External Bazel symbols should be contained in /build_defs/
        entry: sh -c '! git grep -E "@[^D][^)]" "optic/**/BUILD"'
        language: system
        pass_filenames: false
        files: BUILD$

      # - id: forbid-json-parse
      #   name: Do not use raw JSON.parse, instead use `jsonParse` from strict_types.ts
      #   entry: ! git grep "JSON.parse"
      #   language: system
      #   files: \.(ts)$
      #   exclude: strict_types\.ts

Create util for runfiles
  optic/server/BUILD
  optic/server/prod_server.py
  optic/utils/BUILD
  optic/utils/__init__.py
  optic/utils/runfiles.py
Due: forbid-external-bazel-symbols

Remove pre-commit-hooks (does not run properly on GitHub Actions) and instead document in markdown
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  docs/internal/toolchain.md
Due: none

Use --port flag instead of env variable for server port
  optic/server/dev_server.py
  optic/server/flags.py
  optic/server/prod_server.py
  optic/server/server.py
Due: none

Use runfiles to execute module
  optic/cli/BUILD
  optic/cli/cli.py
  optic/cli/dev_cli.py
  playwright.config.ts
  scripts/run_prod.sh
  scripts/run_py_dev.sh
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Use send_file instead of send_from_directory for better downstream compat
  optic/server/prod_server.py
Due: none

Clean up server code to make dev/prod configuration more explicit
  optic/__init__.py
  optic/api.py
  optic/cli/cli.py
  optic/cli/dev_cli.py
  optic/examples/standalone/standalone.py
  optic/server/dev_server.py
  optic/server/prod_server.py
  optic/server/server.py
  optic/server/static_file_serving.py
Due: none

add missing dep for dev_tools
  optic/web/src/dev_tools/BUILD
Due: forbid-external-bazel-symbols

Inline ANGULAR_MATERIAL_SASS_DEPS (to simplify downstream sync)
  build_defs/defaults.bzl
  optic/web/src/app/BUILD
Due: forbid-external-bazel-symbols

Rename prod -> prod_bundle for better naming downstream
  optic/web/src/app/prod/BUILD
  optic/web/src/app/prod/index.html
Due: forbid-external-bazel-symbols

Add default_visibility for optic/cli
  optic/cli/BUILD
Due: forbid-external-bazel-symbols

Fix concurrency issue with Flask server (which is multi-threaded by default) by doing proper lifetimes for context
  optic/runtime/runtime.py
  optic/server/server.py
  playwright.config.ts
  scripts/load_test.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Make run_prod.sh use ibazel
  scripts/run_prod.sh
Due: none

Remove app.html (app.ng.html is the source of truth)
  optic/web/src/app/app.html
Due: none

Extract inline styles for App component into scss files (consistency)
  optic/web/src/app/BUILD
  optic/web/src/app/app.ts
  optic/web/src/app/app_styles.scss
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Change the style of the status (progress) bar so it's less janky (closes #12)
  optic/web/src/app/app_styles.scss
Due: none

Revert "Remove third_party deps previously needed for Python protos"
  WORKSPACE
  third_party/python_runtime/BUILD
  workspace.bzl
Due: forbid-external-bazel-symbols

Implement live-reloading with CLI (addresses part of #7)
  docs/internal/new_component.md
  optic/api.py
  optic/cli/BUILD
  optic/cli/cli.py
  optic/cli/dev_cli.py
  optic/cli/execute_module.py
  optic/component_helpers/helper.py
  optic/event_handler/event_handler.py
  optic/examples/hello_world.py
  optic/features/page.py
  optic/runtime/__init__.py
  optic/runtime/runtime.py
  optic/server/server.py
  optic/server/static_file_serving.py
  optic/web/src/app/prod/index.html
Due: forbid-external-bazel-symbols

Implement hot reloading! closes #7
  optic/protos/ui.proto
  optic/runtime/context.py
  optic/runtime/runtime.py
  optic/web/src/app/app.ts
  optic/web/src/services/channel.ts
  optic/web/src/services/hot_reload_watcher.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Update tsconfig.json so that all TS files in optici are analyzed (fixes issue where TS protos which are generated were not being recognized in IDE)
  tsconfig.json
Due: none

Queue user events if there's an inflight request (closes #14)
  optic/web/src/services/channel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Set debug mode on runtime
  optic/cli/cli.py
  optic/cli/dev_cli.py
  optic/runtime/__init__.py
  optic/runtime/runtime.py
Due: none

Add debug_json to Type proto
  optic/protos/ui.proto
Due: none

Have DevTools rely on JSON proto serialization server-side instead of client-side toObject (closes #21)
  optic/component_helpers/helper.py
  optic/components/box/box.py
  optic/components/button/button.py
  optic/components/checkbox/checkbox.py
  optic/components/text/text.py
  optic/components/text_input/text_input.py
  optic/web/src/dev_tools/component_tree/component_tree.ts
  optic/web/src/dev_tools/components_panel/components_panel.ts
  optic/web/src/dev_tools/services/logger.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Update component tempalte with new component helper API
  scripts/component_template/component_name.py
Due: none

Update gen_component.py with new web dir location and extract util fn
  scripts/gen_component.py
Due: none

Add markdown component (used marked.js third-party dep) closes #13
  build_defs/defaults.bzl
  mesop/BUILD
  mesop/__init__.py
  mesop/components/markdown/BUILD
  mesop/components/markdown/__init__.py
  mesop/components/markdown/e2e/BUILD
  mesop/components/markdown/e2e/__init__.py
  mesop/components/markdown/e2e/markdown_app.py
  mesop/components/markdown/e2e/markdown_test.ts
  mesop/components/markdown/markdown.ng.html
  mesop/components/markdown/markdown.proto
  mesop/components/markdown/markdown.py
  mesop/components/markdown/markdown.ts
  mesop/components/markdown/marked.ts
  mesop/testing/BUILD
  mesop/testing/index.py
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/component_renderer.ng.html
  mesop/web/src/component_renderer/component_renderer.ts
  mesop/web/src/dev_tools/services/BUILD
  mesop/web/src/dev_tools/services/type_deserializer.ts
  package.json
  yarn.lock
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Fix gen_component.py: import ref due to folder structure changed
  scripts/gen_component.py
Due: none

Remove type_deserializer.ts (no longer needed after doing debug_json on server-side)
  mesop/web/src/app/app.ts
  mesop/web/src/dev_tools/services/logger.ts
  mesop/web/src/dev_tools/services/type_deserializer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Correctly enable debug mode in cli.py and set debug to true by default
  mesop/cli/cli.py
Due: none

Remove <mesop-box> Angular component because we cannot have intermediate DOM nodes due to flexbox styling rules
  mesop/components/box/box.ng.html
  mesop/components/box/box.ts
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/component_renderer.ng.html
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Remove type serializer from gen_component.py
  scripts/gen_component.py
Due: none

Provide a more flexible/low-level styles API for Box component
  mesop/components/box/box.proto
  mesop/components/box/box.py
  mesop/components/box/e2e/box_app.py
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Clean up text_input.ng.html
  mesop/components/text_input/text_input.ng.html
Due: none

Rename ExampleFlatNode -> FlatNode
  mesop/web/src/dev_tools/component_tree/component_tree.ts
  mesop/web/src/dev_tools/components_panel/components_panel.ts
  mesop/web/src/dev_tools/object_tree/object_tree.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Create e2e test for checkbox
  mesop/components/checkbox/e2e/BUILD
  mesop/components/checkbox/e2e/__init__.py
  mesop/components/checkbox/e2e/checkbox_app.py
  mesop/components/checkbox/e2e/checkbox_test.ts
  mesop/testing/BUILD
  mesop/testing/index.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Use angular material for checkbox component
  mesop/components/checkbox/checkbox.ng.html
  mesop/components/checkbox/checkbox.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix issues with types in hot_reload_watcher.ts during downstream sync
  mesop/web/src/services/hot_reload_watcher.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Change component_renderer to dynamically render components
  mesop/components/button/button.ts
  mesop/components/checkbox/checkbox.ts
  mesop/components/markdown/markdown.ts
  mesop/components/text/text.ts
  mesop/components/text_input/text_input.ts
  mesop/web/src/component_renderer/component_renderer.ng.html
  mesop/web/src/component_renderer/component_renderer.ts
  scripts/component_template/component_name.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Define ComponentSpec protocol
  mesop/protos/ui.proto
Due: none
