Repository wwwillchen/mesop: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.3
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/wwwillchen/pre-commit-buildifier
    rev: 0.1.1
    hooks:
      - id: buildifier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: forbid-import-star-ts-proto
        name: Forbid import glob for TS protos
        description: problematic for tree-shaking when syncing downstream
        entry: sh -c '! git grep -E "import \* as.*_jspb"'
        files: \.(ts)$
        language: system
        pass_filenames: false
      - id: forbid-raw-json-parse
        name: Forbid raw JSON.parse (use strict_types.ts `jsonParse`)
        description: JSON.parse is loosely typed which causes downstream issues
        entry: sh -c '! git grep -E "JSON\.parse" "optic/**" ":!strict_types.ts"'
        files: \.(ts)$
        language: system
        pass_filenames: false
      - id: forbid-external-bazel-symbols
        name: Forbid external Bazel symbols in /optic/
        description: External Bazel symbols should be contained in /build_defs/
        entry: sh -c '! git grep -E "@[^D][^)]" "optic/**/BUILD"'
        language: system
        pass_filenames: false
        files: BUILD$

      # - id: forbid-json-parse
      #   name: Do not use raw JSON.parse, instead use `jsonParse` from strict_types.ts
      #   entry: ! git grep "JSON.parse"
      #   language: system
      #   files: \.(ts)$
      #   exclude: strict_types\.ts

Dispatch editor event from client and create placeholder in server
  mesop/editor/editor_handler.py
  mesop/protos/ui.proto
  mesop/server/server.py
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
  mesop/web/src/dev_tools/services/logger.ts
  mesop/web/src/services/channel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Draft visual editor philosophy blog post
  docs/assets/editor-v0.png
  docs/blog/posts/visual_editor.md
Due: none

Provide a more streamlined editor UI
  mesop/web/src/app/styles.scss
  mesop/web/src/dev_tools/dev_tools.scss
  mesop/web/src/dev_tools/services/dev_tools_settings.ts
  mesop/web/src/editor/BUILD
  mesop/web/src/editor/component_library/BUILD
  mesop/web/src/editor/component_library/component_library.ng.html
  mesop/web/src/editor/component_library/component_library.scss
  mesop/web/src/editor/component_library/component_library.ts
  mesop/web/src/editor/editor.ng.html
  mesop/web/src/editor/editor.scss
  mesop/web/src/editor/editor.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Clean up hot reload mechanism by not doing a full page reload and instead just send another request via channel (closes #32)
  docs/internal/hot_reload.md
  mesop/web/src/services/channel.ts
  mesop/web/src/services/hot_reload_watcher.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix component_configs_test
  mesop/editor/component_configs_test.py
Due: none

Add libcst as dependency (for editor)
  build_defs/requirements.txt
  build_defs/requirements_lock.txt
Due: none

Fix devtools unit test
  mesop/web/src/dev_tools/BUILD
  mesop/web/src/dev_tools/dev_tools_spec.ts
  mesop/web/src/editor/editor.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Create a basic codemod to replace keyword arg
  build_defs/defaults.bzl
  mesop/editor/BUILD
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
Due: forbid-external-bazel-symbols

Fix playwright test failures by rendering devtools (when not open) and removing extraneous checkbox from test app
  mesop/components/checkbox/e2e/checkbox_app.py
  mesop/web/src/editor/editor.ng.html
Due: none

Create basic test infra for editor codemod
  mesop/editor/BUILD
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/simple_callsite_after.py
  mesop/editor/testdata/simple_callsite_before.py
Due: forbid-external-bazel-symbols

Create separate testdata subdir for each test case
  mesop/editor/BUILD
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/simple_callsite/after.py
  mesop/editor/testdata/simple_callsite/before.py
Due: forbid-external-bazel-symbols

Extract EditorUpdateCallsite from EditorEvent proto
  mesop/protos/ui.proto
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Create boilerplate-free way to write test for editor update
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/protos/ui.proto
Due: none

editor codemod: support specific callsite with line number
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/multi_callsite/after.py
  mesop/editor/testdata/multi_callsite/before.py
Due: none

handle positional arguments for text and markdown
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/markdown/after.py
  mesop/editor/testdata/markdown/before.py
  mesop/editor/testdata/text/after.py
  mesop/editor/testdata/text/before.py
Due: none

end-to-end editor working experience for text component
  mesop/editor/BUILD
  mesop/editor/editor_codemod.py
  mesop/editor/editor_handler.py
  mesop/editor/testdata/text/after.py
  mesop/editor/testdata/text/before.py
  mesop/examples/playground_critic.py
  mesop/utils/path_utils.py
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Strongly typed style API for box
  mesop/__init__.py
  mesop/component_helpers/__init__.py
  mesop/component_helpers/helper.py
  mesop/component_helpers/style.py
  mesop/components/badge/e2e/badge_app.py
  mesop/components/box/box.proto
  mesop/components/box/box.py
  mesop/components/box/e2e/box_app.py
  mesop/examples/composite.py
  mesop/examples/index.py
  mesop/examples/nested.py
  mesop/examples/playground.py
  mesop/examples/playground_critic.py
  mesop/examples/shared/navmenu.py
  mesop/protos/ui.proto
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Make icon strongly-typed style
  mesop/component_helpers/helper.py
  mesop/components/icon/e2e/icon_app.py
  mesop/components/icon/icon.ng.html
  mesop/components/icon/icon.proto
  mesop/components/icon/icon.py
  mesop/components/icon/icon.ts
  mesop/examples/shared/navmenu.py
  mesop/web/src/component_renderer/component_renderer.ts
  mesop/web/src/component_renderer/type_to_component.ts
  mesop/web/src/utils/BUILD
  mesop/web/src/utils/styles.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Convert input to new Style API
  mesop/components/input/input.ng.html
  mesop/components/input/input.proto
  mesop/components/input/input.py
  mesop/components/input/input.ts
  mesop/examples/playground.py
  mesop/examples/playground_critic.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Convert text to use new Style API (closes #33)
  mesop/component_helpers/style.py
  mesop/components/text/text.proto
  mesop/components/text/text.py
  mesop/components/text/text.ts
  mesop/examples/playground.py
  mesop/examples/playground_critic.py
  mesop/examples/shared/navmenu.py
  mesop/protos/ui.proto
  mesop/web/src/utils/styles.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix strictdeps violations
  mesop/components/icon/BUILD
  mesop/components/input/BUILD
  mesop/components/text/BUILD
  mesop/web/src/component_renderer/BUILD
Due: forbid-external-bazel-symbols

Add CDK dependency to component_renderer (fix strict deps)
  mesop/web/src/component_renderer/BUILD
Due: forbid-external-bazel-symbols

Add overflow for Mesop app content is scrollable
  mesop/web/src/editor/editor.scss
Due: none

Add angular material deps to editor components (fix strictDeps issue)
  mesop/web/src/dev_tools/editor_panel/BUILD
  mesop/web/src/dev_tools/editor_panel/editor_fields/BUILD
Due: forbid-external-bazel-symbols

Support codemodding struct
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/style_struct/after.py
  mesop/editor/testdata/style_struct/before.py
  mesop/protos/ui.proto
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Support nested struct and different data types for editor codemod
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/bool/after.py
  mesop/editor/testdata/bool/before.py
  mesop/editor/testdata/style_nested_struct/after.py
  mesop/editor/testdata/style_nested_struct/before.py
  mesop/protos/ui.proto
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Editing style works end-to-end
  mesop/component_helpers/helper.py
  mesop/components/box/e2e/box_app.py
  mesop/editor/BUILD
  mesop/editor/component_configs.py
  mesop/editor/component_configs_test.py
  mesop/editor/editor_handler.py
  mesop/protos/ui.proto
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
  mesop/web/src/dev_tools/editor_panel/editor_panel.ng.html
  mesop/web/src/dev_tools/services/logger.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Implement streamlined UI for editor fields
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.scss
  mesop/web/src/dev_tools/editor_panel/editor_panel.scss
Due: none

Add a select for adding new property in editor fields
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.scss
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Add a new property
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/input_add_property/after.py
  mesop/editor/testdata/input_add_property/before.py
Due: none

Insert struct for editor codemod
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/input_add_complex_property/after.py
  mesop/editor/testdata/input_add_complex_property/before.py
  mesop/protos/ui.proto
Due: none

More robust mechanism of tracking focused node (editor) by using index path
  mesop/editor/component_configs.py
  mesop/editor/component_configs_test.py
  mesop/protos/ui.proto
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
  mesop/web/src/dev_tools/editor_panel/editor_panel.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_panel.ts
  mesop/web/src/editor/editor.ts
  mesop/web/src/services/channel.ts
  mesop/web/src/services/editor_service.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Refactor editor fields to de-dupe boilerplate for generating EditorUpdateCallsite proto
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Handle remaining cases for new code value
  biome.json
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Prevent editor edits outside of localhost
  mesop/server/server.py
Due: none

Debounce input event
  mesop/components/input/input.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Execute codemod outside of write block (avoid clearing out the code file if an exception is thrown in the codemod)
  mesop/editor/editor_handler.py
Due: none

Support updates from literal value in editor fields
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Bind Esc hotkey to stop focusing on editor element
  mesop/web/src/editor/editor.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Wire checkbox for bool properties in editor fields
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse
