Repository wwwillchen/mesop: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

forbid-import-star-ts-proto:
  name: Forbid import glob for TS protos
  description: problematic for tree-shaking when syncing downstream
  entry: sh -c '! git grep -E "import \* as.*_jspb"'
  language: system
  pass_filenames: false

forbid-raw-json-parse:
  name: Forbid raw JSON.parse (use strict_types.ts `jsonParse`)
  description: JSON.parse is loosely typed which causes downstream issues
  entry: sh -c '! git grep -E "JSON\.parse" "optic/**" ":!strict_types.ts"'
  language: system
  pass_filenames: false

forbid-external-bazel-symbols:
  name: Forbid external Bazel symbols in /optic/
  description: External Bazel symbols should be contained in /build_defs/
  entry: sh -c '! git grep -E "@[^D][^)]" "optic/**/BUILD"'
  language: system
  pass_filenames: false

Make sure error box is positioned on top of everything else
  mesop/web/src/error/error_box.scss
Due: none

Clear traceback from server error when in prod mode (not debug)
  mesop/server/server.py
Due: none

Display error from shell and not editor so there's an error for UI in prod mode (in addition to debug mode)
  mesop/web/src/editor/editor.ng.html
  mesop/web/src/editor/editor.ts
  mesop/web/src/shell/BUILD
  mesop/web/src/shell/shell.ng.html
  mesop/web/src/shell/shell.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Show hot reload icon in dev tools (closes #46)
  mesop/web/src/dev_tools/dev_tools.ng.html
  mesop/web/src/dev_tools/dev_tools.scss
  mesop/web/src/dev_tools/dev_tools.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

pip_package
  mesop/pip_package/BUILD
  mesop/pip_package/LICENSE
  mesop/pip_package/README.md
  mesop/pip_package/__init__.py
  mesop/pip_package/build_pip_package.sh
  mesop/pip_package/deterministic_tar_gz.py
  mesop/pip_package/extract_pip_package.sh
  mesop/pip_package/manifest.in
  mesop/pip_package/note.md
  mesop/pip_package/requirements.txt
  mesop/pip_package/setup.cfg
  mesop/pip_package/setup.py
Due: forbid-external-bazel-symbols

Include mat typographies in styles.scss which was erroneously removed in M3 upgrade (and clean-up M2 commented out code)
  mesop/web/src/app/styles.scss
Due: none

Update runfiles to support non-bazel environments (e.g. pip)
  mesop/utils/runfiles.py
Due: none

Define run API for usage w/ pip
  mesop/__init__.py
  mesop/server/run.py
Due: none

Update requirements.txt
  build_defs/requirements.txt
Due: none

Support pip packaging
  mesop/pip_package/BUILD
  mesop/pip_package/LICENSE
  mesop/pip_package/README.md
  mesop/pip_package/__init__.py
  mesop/pip_package/build_pip_package.sh
  mesop/pip_package/deterministic_tar_gz.py
  mesop/pip_package/extract_pip_package.sh
  mesop/pip_package/manifest.in
  mesop/pip_package/note.md
  mesop/pip_package/requirements.txt
  mesop/pip_package/setup.cfg
  mesop/pip_package/setup.py
Due: forbid-external-bazel-symbols

Add docs for publishing to PyPI
  docs/internal/publishing.md
  mkdocs.yml
Due: none

Bump patch version
  mesop/pip_package/setup.py
Due: none

Rename manifest.in -> MANIFEST.in
  mesop/pip_package/MANIFEST.in
Due: none

Remove duplicate flag defs in run.py
  mesop/server/run.py
Due: none

Remove un-needed pip_package files & targets
  mesop/pip_package/BUILD
  mesop/pip_package/extract_pip_package.sh
Due: forbid-external-bazel-symbols

Type ignore in deterministic_tar_gz.py (vendored script)
  mesop/pip_package/deterministic_tar_gz.py
Due: none

Update run_py_typecheck.sh to also build generator targets
  scripts/run_py_typecheck.sh
Due: none

Do not render label as part of input if label is empty (fixes #57)
  mesop/components/input/e2e/input_app.py
  mesop/components/input/input.ng.html
  mesop/components/input/input.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Change slide toggle to have a simple variant (slide_toggle) and an advanced variant (content_slide_toggle)
  docs/components/slide_toggle.md
  mesop/__init__.py
  mesop/components/slide_toggle/e2e/slide_toggle_app.py
  mesop/components/slide_toggle/slide_toggle.py
  mesop/web/src/component_renderer/type_to_component.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Update run/colab_run to use parameters instead of flags (more portable)
  mesop/cli/cli.py
  mesop/server/colab_run.py
  mesop/server/flags.py
  mesop/server/logging.py
  mesop/server/run.py
Due: none

run -> create_app - create an API to expose a WSGI app so Mesop can be run with gunicorn / other WSGI servers
  mesop/__init__.py
  mesop/server/create_app.py
  mesop/server/run.py
Due: none

Bump mesop version & release on pip
  mesop/pip_package/setup.py
Due: none

Renaem composite -> content_component for a more consistent API
  mesop/__init__.py
  mesop/component_helpers/helper.py
  mesop/examples/composite.py
  mesop/examples/shared/navmenu.py
Due: none

Make component decorator parens optional (provide API parity w/ content_component)
  mesop/component_helpers/helper.py
  mesop/components/button/button.py
  mesop/components/checkbox/checkbox.py
Due: none

Embed demo app on docs home page
  docs/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

Remove examples/sxs (too complex and data loading causes issue downstream)
  mesop/examples/BUILD
  mesop/examples/sxs/BUILD
  mesop/examples/sxs/__init__.py
  mesop/examples/sxs/data/gemini/Explain_Congestive_Heart_Failure.md
  mesop/examples/sxs/data/gemini/Explain_Seasonal_Affective_Disorder.md
  mesop/examples/sxs/data/gemini_advanced/Explain_Congestive_Heart_Failure.md
  mesop/examples/sxs/data/gemini_advanced/Explain_Seasonal_Affective_Disorder.md
  mesop/examples/sxs/sxs.py
Due: forbid-external-bazel-symbols

Make error box scrollable
  mesop/web/src/error/error_box.scss
Due: none

Plumb kwargs in ng_js_binary
  build_defs/ng_js_binary.bzl
Due: none

Add users visibility to entry point files
  mesop/cli/BUILD
  mesop/web/src/app/editor/BUILD
  mesop/web/src/app/prod/BUILD
Due: forbid-external-bazel-symbols

Revamp docs home page to be more inviting
  docs/assets/robot_mascot.jpeg
  docs/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

Provide installation instructions in the getting started guide
  docs/getting_started.md
Due: none

Replace references to composite component with content component to be consistent
  docs/components/box.md
  docs/guides/components.md
  docs/internal/new_component.md
Due: none

Fix hot reloading bug in downstream sync due to race condition with execute_module
  mesop/cli/cli.py
Due: none

Style dev tools background white (ui regression after upgrading to M3 theming)
  mesop/web/src/dev_tools/dev_tools.scss
Due: none

Create binary CLI when running as a pip package
  mesop/bin/BUILD
  mesop/bin/__init__.py
  mesop/bin/bin.py
  mesop/cli/cli.py
  mesop/cli/dev_cli.py
  mesop/cli/execute_module.py
  mesop/cli/execute_module_test.py
  mesop/pip_package/BUILD
  mesop/pip_package/setup.py
  scripts/pip.sh
  scripts/smoketest_app/main.py
Due: forbid-external-bazel-symbols

Implement client-side polling for hot reload when running Mesop from pip (closes #60)
  mesop/bin/bin.py
  mesop/server/server.py
  mesop/web/src/services/channel.ts
  mesop/web/src/services/hot_reload_watcher.ts
  mesop/web/src/shell/shell.ng.html
  mesop/web/src/shell/shell.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Implement fs watcher to implement server-portion of hot reloading for pip CLI
  mesop/bin/bin.py
Due: none

Expose WSGI application interface via main Mesop module
  mesop/__init__.py
  mesop/bin/bin.py
  mesop/server/wsgi_app.py
  scripts/pip.sh
Due: none

Remove duplicate log message for server port
  mesop/bin/bin.py
Due: none

Bump version to 0.4.0
  mesop/pip_package/setup.py
Due: none

Path conditions:
  forbid-import-star-ts-proto: any of: \.(ts)$
  forbid-raw-json-parse: any of: \.(ts)$
  forbid-external-bazel-symbols: any of: BUILD$
