Repository wwwillchen/mesop: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.3
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/wwwillchen/pre-commit-buildifier
    rev: 0.1.1
    hooks:
      - id: buildifier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: forbid-import-star-ts-proto
        name: Forbid import glob for TS protos
        description: problematic for tree-shaking when syncing downstream
        entry: sh -c '! git grep -E "import \* as.*_jspb"'
        files: \.(ts)$
        language: system
        pass_filenames: false
      - id: forbid-raw-json-parse
        name: Forbid raw JSON.parse (use strict_types.ts `jsonParse`)
        description: JSON.parse is loosely typed which causes downstream issues
        entry: sh -c '! git grep -E "JSON\.parse" "optic/**" ":!strict_types.ts"'
        files: \.(ts)$
        language: system
        pass_filenames: false
      - id: forbid-external-bazel-symbols
        name: Forbid external Bazel symbols in /optic/
        description: External Bazel symbols should be contained in /build_defs/
        entry: sh -c '! git grep -E "@[^D][^)]" "optic/**/BUILD"'
        language: system
        pass_filenames: false
        files: BUILD$

      # - id: forbid-json-parse
      #   name: Do not use raw JSON.parse, instead use `jsonParse` from strict_types.ts
      #   entry: ! git grep "JSON.parse"
      #   language: system
      #   files: \.(ts)$
      #   exclude: strict_types\.ts

Implement improved hot reloading heuristics based on design decision in hot_reload.md
  mesop/cli/BUILD
  mesop/cli/cli.py
  mesop/cli/dev_cli.py
  mesop/cli/execute_module.py
  mesop/cli/execute_module_test.py
  mesop/examples/BUILD
  mesop/examples/index.py
  mesop/testing/BUILD
  mesop/testing/index.py
  scripts/cli.sh
  scripts/scaffold_component.py
Due: forbid-external-bazel-symbols

Abstract ibazel-specific logic from HotReloadWatcher
  mesop/web/src/app/app.ts
  mesop/web/src/services/hot_reload_watcher.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Implement exponential backoff when serving path during hot reload
  mesop/cli/cli.py
  mesop/examples/index.py
  mesop/runtime/__init__.py
  mesop/runtime/runtime.py
  mesop/utils/backoff.py
Due: none

This is a combination of 2 commits.
  docs/internal/modes.md
  mesop/cli/BUILD
  mesop/cli/execute_module.py
  mesop/cli/execute_module_test.py
  mesop/examples/index.py
  playwright.config.ts
  pyproject.toml
  scripts/run_py_dev.sh
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Polish error box UI
  mesop/web/src/error/error_box.ng.html
  mesop/web/src/error/error_box.scss
Due: none

Provide better validation error experience by wrapping pydantic
  generator/fixtures/component_name.py
  mesop/components/badge/badge.py
  mesop/components/box/box.py
  mesop/components/button/button.py
  mesop/components/checkbox/checkbox.py
  mesop/components/defs.bzl
  mesop/components/divider/divider.py
  mesop/components/icon/icon.py
  mesop/components/input/input.py
  mesop/components/markdown/markdown.py
  mesop/components/progress_bar/progress_bar.py
  mesop/components/progress_spinner/progress_spinner.py
  mesop/components/radio/radio.py
  mesop/components/select/select.py
  mesop/components/slide_toggle/slide_toggle.py
  mesop/components/slider/slider.py
  mesop/components/text/text.py
  mesop/components/text_input/text_input.py
  mesop/components/tooltip/tooltip.py
  mesop/exceptions/__init__.py
  mesop/utils/BUILD
  mesop/utils/str_utils.py
  mesop/utils/validate.py
  mesop/web/src/app/styles.scss
  mesop/web/src/error/error_box.ng.html
  mesop/web/src/error/error_box.scss
  mesop/web/src/error/error_box.ts
  scripts/component_template/component_name.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Alias progress spinner as spinner
  mesop/__init__.py
Due: none

Add missing component md docs
  docs/components/markdown.md
  docs/components/radio.md
  docs/components/select.md
  docs/components/slide_toggle.md
  docs/components/slider.md
  mkdocs.yml
Due: none

Fix radio pydocs
  mesop/components/radio/radio.py
Due: none

Customize each component doc page and organize overall component docs
  docs/components/badge.md
  docs/components/box.md
  docs/components/button.md
  docs/components/checkbox.md
  docs/components/divider.md
  docs/components/icon.md
  docs/components/input.md
  docs/components/markdown.md
  docs/components/progress_bar.md
  docs/components/progress_spinner.md
  docs/components/radio.md
  docs/components/select.md
  docs/components/slide_toggle.md
  docs/components/slider.md
  docs/components/text.md
  docs/components/tooltip.md
  mesop/components/box/e2e/box_app.py
  mesop/components/checkbox/e2e/checkbox_app.py
  mesop/components/input/e2e/input_app.py
  mesop/components/input/e2e/input_test.ts
  mesop/components/progress_spinner/e2e/progress_spinner_app.py
  mesop/components/progress_spinner/e2e/progress_spinner_test.ts
  mesop/components/radio/e2e/radio_app.py
  mesop/components/radio/e2e/radio_test.ts
  mesop/components/tooltip/e2e/tooltip_app.py
  mesop/examples/buttons.py
  mkdocs.yml
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Clean up Radio API & docs
  docs/components/radio.md
  mesop/components/radio/radio.ng.html
  mesop/components/radio/radio.proto
  mesop/components/radio/radio.py
  mesop/components/radio/radio.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Clean up component APIs
  docs/components/box.md
  docs/components/button.md
  docs/components/progress_bar.md
  docs/components/select.md
  docs/components/slide_toggle.md
  docs/components/slider.md
  mesop/__init__.py
  mesop/component_helpers/helper.py
  mesop/components/badge/badge.ng.html
  mesop/components/badge/badge.proto
  mesop/components/badge/badge.py
  mesop/components/box/box.py
  mesop/components/button/button.py
  mesop/components/checkbox/checkbox.ng.html
  mesop/components/checkbox/checkbox.proto
  mesop/components/checkbox/checkbox.py
  mesop/components/checkbox/e2e/checkbox_app.py
  mesop/components/input/input.py
  mesop/components/markdown/markdown.py
  mesop/components/progress_bar/progress_bar.py
  mesop/components/radio/radio.py
  mesop/components/select/select.py
  mesop/components/slide_toggle/e2e/slide_toggle_app.py
  mesop/components/slide_toggle/slide_toggle.ng.html
  mesop/components/slide_toggle/slide_toggle.proto
  mesop/components/slide_toggle/slide_toggle.py
  mesop/components/slider/slider.py
  mesop/components/text/text.py
  mesop/components/text_input/e2e/text_input_app.py
  mesop/components/text_input/e2e/text_input_test.ts
  mesop/components/text_input/text_input.py
  mesop/events/__init__.py
  mesop/events/events.py
  mesop/examples/simple.py
  mesop/utils/validate.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Delete text_input (superseded by input) component
  mesop/BUILD
  mesop/__init__.py
  mesop/components/text_input/BUILD
  mesop/components/text_input/__init__.py
  mesop/components/text_input/e2e/BUILD
  mesop/components/text_input/e2e/__init__.py
  mesop/components/text_input/e2e/text_input_app.py
  mesop/components/text_input/text_input.ng.html
  mesop/components/text_input/text_input.proto
  mesop/components/text_input/text_input.py
  mesop/components/text_input/text_input.ts
  mesop/examples/BUILD
  mesop/examples/index.py
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
  mesop/web/src/dev_tools/services/BUILD
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Make on_click parameter optional
  mesop/components/box/box.py
  mesop/components/button/button.py
Due: none

Linkify routes in error when route not found
  mesop/runtime/runtime.py
Due: none

Create mesop/index.py which imports all examples from examples/ and components/ so that hot reloading heuristics works properly.
  docs/internal/modes.md
  mesop/BUILD
  mesop/cli/BUILD
  mesop/cli/execute_module.py
  mesop/cli/execute_module_test.py
  mesop/examples/index.py
  mesop/index.py
  playwright.config.ts
  pyproject.toml
  scripts/cli.sh
  scripts/run_py_dev.sh
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Use serialize_dataclass in context
  mesop/runtime/context.py
Due: none

Handle list case correctly in dataclass_with_defaults
  mesop/dataclass_utils/dataclass_utils.py
  mesop/dataclass_utils/dataclass_utils_test.py
Due: none

Provide a good error message when no page has been registered
  mesop/examples/empty.py
  mesop/runtime/runtime.py
Due: none

Add a good error message if developer forget to register state with stateclass
  mesop/examples/error_no_stateclass_decorator.py
  mesop/index.py
  mesop/runtime/context.py
Due: none

Use 32123 as the default server port for Mesop (avoid port collision)
  Dockerfile
  docs/guides/deployment.md
  mesop/server/flags.py
  playwright.config.ts
  scripts/cli.sh
  scripts/load_test.py
  scripts/run_py_dev.sh
  scripts/run_web_dev.sh
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Rename OPTIC_SERVER_HOST -> MESOP_SERVER_HOST (missed this during earlier project rename)
  mesop/web/src/app/dev/BUILD
  mesop/web/src/services/channel.ts
  scripts/run_web_dev.sh
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Rename component category from Material to Visual to be more descriptive
  mkdocs.yml
Due: none

Setup blog w/ placeholder post
  docs/blog/index.md
  docs/blog/posts/hello_mesop.md
  mkdocs.yml
Due: none

Write draft of Hello, Mesop blog post
  docs/blog/posts/hello_mesop.md
  docs/index.md
Due: none

Document architecture
  docs/internal/architecture.md
  mkdocs.yml
Due: none

Finalize Hello, Mesop blog post
  docs/blog/posts/hello_mesop.md
Due: none

Fix strict dep violation for error: add markdown dep
  mesop/web/src/error/BUILD
Due: forbid-external-bazel-symbols

Add hook for adding TS imports to app.ts during downstream sync
  mesop/web/src/app/app.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Wait for hot reload in a more central part of server processing to avoid race condition
  mesop/runtime/runtime.py
  mesop/server/server.py
Due: none

Switch logging.log to print for displaying server URL; guarantees it's shown in terminal (and not just a log file)
  mesop/cli/cli.py
Due: none

Throw error if there's unhandled handler id; fix no-op events
  mesop/runtime/context.py
  mesop/web/src/services/channel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Support updating dataclass from json obj for list case
  mesop/dataclass_utils/dataclass_utils.py
  mesop/dataclass_utils/dataclass_utils_test.py
Due: none

Fix bug by running tracing mode *after* state has been updated; write e2e test
  mesop/examples/BUILD
  mesop/examples/__init__.py
  mesop/examples/testing/BUILD
  mesop/examples/testing/__init__.py
  mesop/examples/testing/conditional_event_handler.py
  mesop/index.py
  mesop/runtime/context.py
  mesop/server/server.py
  mesop/tests/e2e/conditional_event_handler_test.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Rename index to example_index to clarify intent
  docs/internal/modes.md
  mesop/BUILD
  mesop/cli/BUILD
  mesop/cli/execute_module.py
  mesop/cli/execute_module_test.py
  mesop/example_index.py
  playwright.config.ts
  pyproject.toml
  scripts/cli.sh
  scripts/run_py_dev.sh
  scripts/scaffold_component.py
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Localize import (for side-effects) for index.py into respective __init__.py
  mesop/example_index.py
  mesop/examples/__init__.py
  mesop/examples/docs/__init__.py
Due: none

Write unit test cases for advanced usage of dataclass utils
  mesop/dataclass_utils/dataclass_utils_test.py
Due: none

Make it easier to debug event handler issues by not hashing fn id in debug mode
  mesop/component_helpers/helper.py
Due: none

Revert "Make on_click parameter optional" because there's still a Python runtime issue when calling a function with too many arguments
  mesop/components/box/box.py
  mesop/components/button/button.py
  mesop/examples/buttons.py
Due: none

Rename variant to type (for button component) to simplify API and align with Material Design specs: https://m3.material.io/components/all-buttons
  generator/fixtures/component_name.py
  generator/generate_ng_template.py
  generator/generate_proto_schema.py
  generator/generate_py_component.py
  mesop/component_helpers/helper.py
  mesop/components/button/button.ng.html
  mesop/components/button/button.proto
  mesop/components/button/button.py
  mesop/examples/buttons.py
  mesop/examples/playground.py
  mesop/examples/playground_critic.py
  mesop/examples/shared/navmenu.py
  mesop/protos/ui.proto
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse
