Repository wwwillchen/mesop: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.3
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/wwwillchen/pre-commit-buildifier
    rev: 0.1.1
    hooks:
      - id: buildifier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: forbid-import-star-ts-proto
        name: Forbid import glob for TS protos
        description: problematic for tree-shaking when syncing downstream
        entry: sh -c '! git grep -E "import \* as.*_jspb"'
        files: \.(ts)$
        language: system
        pass_filenames: false
      - id: forbid-raw-json-parse
        name: Forbid raw JSON.parse (use strict_types.ts `jsonParse`)
        description: JSON.parse is loosely typed which causes downstream issues
        entry: sh -c '! git grep -E "JSON\.parse" "optic/**" ":!strict_types.ts"'
        files: \.(ts)$
        language: system
        pass_filenames: false
      - id: forbid-external-bazel-symbols
        name: Forbid external Bazel symbols in /optic/
        description: External Bazel symbols should be contained in /build_defs/
        entry: sh -c '! git grep -E "@[^D][^)]" "optic/**/BUILD"'
        language: system
        pass_filenames: false
        files: BUILD$

      # - id: forbid-json-parse
      #   name: Do not use raw JSON.parse, instead use `jsonParse` from strict_types.ts
      #   entry: ! git grep "JSON.parse"
      #   language: system
      #   files: \.(ts)$
      #   exclude: strict_types\.ts

Add new fields to Style proto (and re-number fields)
  mesop/protos/ui.proto
Due: none

Add new style properties to formatStyles (and alphabetize)
  mesop/web/src/utils/styles.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Do not modify non-literal with editor update callsite
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/add_property_non_literal_skip/after.py
  mesop/editor/testdata/add_property_non_literal_skip/before.py
Due: none

Add example for dynamic values
  mesop/examples/__init__.py
  mesop/examples/dynamic_values.py
Due: none

Add add components button to editor overlay
  mesop/web/src/component_renderer/component_renderer.ng.html
  mesop/web/src/component_renderer/component_renderer.scss
  mesop/web/src/component_renderer/component_renderer.ts
  mesop/web/src/editor/editor.ts
  mesop/web/src/services/editor_service.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Use editor service to add component in component tree (parity for auto-focusing on newly created component)
  mesop/web/src/dev_tools/component_tree/BUILD
  mesop/web/src/dev_tools/component_tree/component_tree.ts
  mesop/web/src/editor/BUILD
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Polish UX for editor overlay: only show when selecting mode; switch focused node after new component has been created
  mesop/web/src/component_renderer/component_renderer.ng.html
  mesop/web/src/component_renderer/component_renderer.ts
  mesop/web/src/dev_tools/command_dialog/command_dialog_service.ts
  mesop/web/src/editor/editor.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix strict deps for video/
  mesop/components/video/BUILD
Due: forbid-external-bazel-symbols

Fix strictdeps for rxjs
  mesop/components/input/BUILD
  mesop/components/slider/BUILD
Due: forbid-external-bazel-symbols

import labs in mesop/BUILD
  mesop/BUILD
Due: forbid-external-bazel-symbols

Fix strictDeps in component_tree
  mesop/web/src/dev_tools/component_tree/BUILD
Due: forbid-external-bazel-symbols

Update mesop labs column import/export so it's tool-able by editor
  mesop/editor/component_configs_test.py
  mesop/examples/columns.py
  mesop/labs/__init__.py
Due: none

Support more code value types in logger.ts
  mesop/web/src/dev_tools/services/logger.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Switch pydantic to be installed without cython to match downstream sync
  build_defs/requirements.txt
  build_defs/requirements_lock.txt
  mesop/component_helpers/helper.py
Due: none

Fix strictDeps for editor_panel
  mesop/web/src/dev_tools/editor_panel/BUILD
Due: forbid-external-bazel-symbols

Fix strictDeps for dev_tools
  mesop/web/src/dev_tools/BUILD
Due: forbid-external-bazel-symbols

Add Style docs
  docs/components/style.md
  mesop/component_helpers/style.py
  mkdocs.yml
Due: none

Add sxs example
  mesop/examples/__init__.py
  mesop/examples/sxs.py
Due: none

Fix DOM structure for component_renderer by removing wrapper <span>
  mesop/examples/sxs.py
  mesop/web/src/component_renderer/component_renderer.ng.html
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Update execute_module_test.py - use fake workspace name so it behaves the same downstream
  mesop/cli/execute_module_test.py
Due: none

Split on 'runfiles' and not '.runfiles' because of differences with downstream
  mesop/utils/caller.py
Due: none

Default values for margin and padding (fix bug when only some of those values are set)
  mesop/web/src/utils/styles.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix to_style_proto: backfilled missing properties and alphabetize
  mesop/component_helpers/style.py
Due: none

Add border radius to style
  mesop/component_helpers/style.py
  mesop/protos/ui.proto
  mesop/web/src/utils/styles.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Make button a simpler, high-level API which uses a lower-level API content_button
  docs/components/button.md
  mesop/__init__.py
  mesop/component_helpers/helper.py
  mesop/components/button/BUILD
  mesop/components/button/button.py
  mesop/editor/component_configs_test.py
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/button_callsite/after.py
  mesop/editor/testdata/button_callsite/before.py
  mesop/examples/buttons.py
  mesop/examples/docs/counter.py
  mesop/examples/docs/loading.py
  mesop/examples/docs/streaming.py
  mesop/examples/generator.py
  mesop/examples/nested.py
  mesop/examples/playground.py
  mesop/examples/playground_critic.py
  mesop/examples/readme_app.py
  mesop/examples/shared/navmenu.py
  mesop/examples/simple.py
  mesop/web/src/component_renderer/component_renderer.ts
  mesop/web/src/component_renderer/type_to_component.ts
  mesop/web/src/dev_tools/services/logger.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Simplify checkbox API which uses lower-level content_checkbox component
  docs/components/checkbox.md
  mesop/__init__.py
  mesop/components/checkbox/BUILD
  mesop/components/checkbox/checkbox.py
  mesop/components/checkbox/e2e/checkbox_app.py
  mesop/examples/simple.py
  mesop/examples/testing/conditional_event_handler.py
  mesop/web/src/component_renderer/type_to_component.ts
  mesop/web/src/dev_tools/services/logger.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Default to using UserDefinedComponent for component renderer lookup
  mesop/web/src/component_renderer/component_renderer.ts
  mesop/web/src/component_renderer/type_to_component.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Add support matplotlib using plot component (with example and docs)
  build_defs/defaults.bzl
  build_defs/requirements.txt
  build_defs/requirements_lock.txt
  docs/components/plot.md
  mesop/BUILD
  mesop/__init__.py
  mesop/cli/BUILD
  mesop/components/plot/BUILD
  mesop/components/plot/__init__.py
  mesop/components/plot/plot.py
  mesop/examples/BUILD
  mesop/examples/__init__.py
  mesop/examples/integrations/BUILD
  mesop/examples/integrations/__init__.py
  mesop/examples/integrations/matplotlib.py
  mkdocs.yml
Due: forbid-external-bazel-symbols

Disable pydantic validation for plot
  mesop/component_helpers/helper.py
  mesop/components/button/button.py
  mesop/components/checkbox/checkbox.py
  mesop/components/plot/plot.py
  mesop/labs/layout.py
Due: none

Add Colab support with colab_run
  mesop/__init__.py
  mesop/cli/cli.py
  mesop/server/colab_run.py
  mesop/server/constants.py
  mesop/server/logging.py
  mesop/utils/caller.py
Due: none

Add hotkey for hot reload (useful for colab)
  mesop/web/src/editor/editor.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Mark cli as public visibility for colab usage
  mesop/cli/BUILD
Due: forbid-external-bazel-symbols

Remove dependency from Mesop core to labs; otherwise this results in cyclic dependencies
  mesop/BUILD
  mesop/__init__.py
Due: forbid-external-bazel-symbols

Update style API: support box shadow and more justify_content variants
  mesop/component_helpers/style.py
  mesop/protos/ui.proto
  mesop/web/src/utils/styles.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Textarea: fix bug where rows not set; add autosize and min/max rows to API
  mesop/components/input/input.ng.html
  mesop/components/input/input.proto
  mesop/components/input/input.py
Due: none

Expose component decorator as public API
  mesop/__init__.py
Due: none

Migrate labs: layout.py to use Mesop from public APIs
  mesop/labs/BUILD
  mesop/labs/layout.py
Due: forbid-external-bazel-symbols

Clean up component renderer to not render insertion <span> node; fixes flexbox layout issue
  mesop/web/src/component_renderer/component_renderer.ng.html
Due: none

Define high-level i/o component for text transformation UI in labs
  mesop/examples/__init__.py
  mesop/examples/io.py
  mesop/labs/__init__.py
  mesop/labs/io.py
Due: none

Re-execute mesop labs as part of hot reload
  mesop/cli/execute_module.py
Due: none
