Repository wwwillchen/mesop: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

forbid-import-star-ts-proto:
  name: Forbid import glob for TS protos
  description: problematic for tree-shaking when syncing downstream
  entry: sh -c '! git grep -E "import \* as.*_jspb"'
  language: system
  pass_filenames: false

forbid-raw-json-parse:
  name: Forbid raw JSON.parse (use strict_types.ts `jsonParse`)
  description: JSON.parse is loosely typed which causes downstream issues
  entry: sh -c '! git grep -E "JSON\.parse" "optic/**" ":!strict_types.ts"'
  language: system
  pass_filenames: false

forbid-external-bazel-symbols:
  name: Forbid external Bazel symbols in /optic/
  description: External Bazel symbols should be contained in /build_defs/
  entry: sh -c '! git grep -E "@[^D][^)]" "optic/**/BUILD"'
  language: system
  pass_filenames: false

Support columns in style
  mesop/component_helpers/style.py
  mesop/protos/ui.proto
  mesop/web/src/utils/styles.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Steal focus on editor when first loading (makes it convenient for keyboard shortcuts)
  mesop/web/src/editor/editor.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Support delete component in editor panel
  mesop/editor/editor_codemod.py
  mesop/editor/editor_handler.py
  mesop/web/src/dev_tools/editor_panel/editor_panel.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_panel.scss
  mesop/web/src/dev_tools/editor_panel/editor_panel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Support delete component in editor codemod
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/delete_component/after.py
  mesop/editor/testdata/delete_component/before.py
  mesop/editor/testdata/delete_only_component/after.py
  mesop/editor/testdata/delete_only_component/before.py
  mesop/protos/ui.proto
Due: none

Editor codemod: support new component as child
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/new_component_child/after.py
  mesop/editor/testdata/new_component_child/before.py
  mesop/editor/testdata/new_component_child_existing_with/after.py
  mesop/editor/testdata/new_component_child_existing_with/before.py
  mesop/editor/testdata/new_component_child_existing_with_pass/after.py
  mesop/editor/testdata/new_component_child_existing_with_pass/before.py
  mesop/protos/ui.proto
Due: none

Fix component configs generation & test
  mesop/editor/component_configs.py
  mesop/editor/component_configs_test.py
Due: none

Set whether component accepts child in component config
  mesop/editor/component_configs.py
  mesop/editor/component_configs_test.py
  mesop/protos/ui.proto
Due: none

Can add child or sibling from component tree
  mesop/web/src/dev_tools/command_dialog/command_dialog.ts
  mesop/web/src/dev_tools/command_dialog/command_dialog_service.ts
  mesop/web/src/dev_tools/component_tree/component_tree.ng.html
  mesop/web/src/dev_tools/component_tree/component_tree.scss
  mesop/web/src/dev_tools/component_tree/component_tree.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Do split panes for editor panel
  mesop/web/src/dev_tools/editor_panel/editor_panel.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_panel.scss
Due: none

Make bottom editor panel resizable
  mesop/web/src/dev_tools/editor_panel/editor_panel.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_panel.scss
  mesop/web/src/dev_tools/editor_panel/editor_panel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Auto-scroll to focused component in component tree
  mesop/web/src/dev_tools/component_tree/component_tree.ng.html
  mesop/web/src/dev_tools/component_tree/component_tree.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Truncate node label in component tree as needed
  mesop/web/src/dev_tools/component_tree/component_tree.scss
Due: none

Force textarea to resize
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.scss
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix layout of editor panel after scrolling tree node into view (previously caused layout to jump)
  mesop/web/src/dev_tools/dev_tools.scss
  mesop/web/src/dev_tools/editor_panel/editor_panel.scss
Due: none

Smooth scrolling to selected component in component tree
  mesop/web/src/dev_tools/component_tree/component_tree.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Show doc link in editor panel
  mesop/web/src/dev_tools/editor_panel/editor_panel.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_panel.scss
  mesop/web/src/dev_tools/editor_panel/editor_panel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Always keep component header visible in editor panel
  mesop/web/src/dev_tools/editor_panel/editor_panel.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_panel.scss
Due: none

Make component delete button cursor: pointer
  mesop/web/src/dev_tools/editor_panel/editor_panel.scss
Due: none

Delete component confirmation dialog
  mesop/web/src/dev_tools/editor_panel/editor_panel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Placeholder string value to make it possible to edit initial text value
  mesop/editor/editor_codemod.py
Due: none

Polish textarea editor fields UI
  mesop/web/src/app/styles.scss
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.scss
Due: none

Support new component nested sibling
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/new_component_nested_sibling/after.py
  mesop/editor/testdata/new_component_nested_sibling/before.py
Due: none

Create Mesop labs with columns component
  mesop/__init__.py
  mesop/examples/BUILD
  mesop/examples/__init__.py
  mesop/examples/columns.py
  mesop/labs/BUILD
  mesop/labs/__init__.py
  mesop/labs/columns.py
Due: forbid-external-bazel-symbols

Use register_component decorator to centralize component registration for editor support
  mesop/component_helpers/BUILD
  mesop/component_helpers/__init__.py
  mesop/component_helpers/helper.py
  mesop/components/badge/badge.py
  mesop/components/box/box.py
  mesop/components/button/button.py
  mesop/components/checkbox/checkbox.py
  mesop/components/divider/divider.py
  mesop/components/icon/icon.py
  mesop/components/input/input.py
  mesop/components/markdown/markdown.py
  mesop/components/progress_bar/progress_bar.py
  mesop/components/progress_spinner/progress_spinner.py
  mesop/components/radio/radio.py
  mesop/components/select/select.py
  mesop/components/slide_toggle/slide_toggle.py
  mesop/components/slider/slider.py
  mesop/components/text/text.py
  mesop/components/tooltip/tooltip.py
  mesop/editor/BUILD
  mesop/editor/component_configs.py
  mesop/runtime/runtime.py
Due: forbid-external-bazel-symbols

Fix panel header width
  mesop/web/src/dev_tools/dev_tools.scss
Due: none

Create UserDefinedComponent as an actual entity to support tooling (e.g. editor/devtools)
  mesop/component_helpers/__init__.py
  mesop/component_helpers/helper.py
  mesop/labs/columns.py
  mesop/protos/ui.proto
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Refactor component name to make it easier to support user-defined-components for editor codemod
  mesop/component_helpers/helper.py
  mesop/editor/BUILD
  mesop/editor/component_configs.py
  mesop/editor/component_configs_test.py
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/labs/__init__.py
  mesop/labs/layout.py
  mesop/protos/ui.proto
  mesop/web/src/component_renderer/component_renderer.ng.html
  mesop/web/src/component_renderer/component_renderer.ts
  mesop/web/src/dev_tools/command_dialog/command_dialog.ng.html
  mesop/web/src/dev_tools/command_dialog/command_dialog.ts
  mesop/web/src/dev_tools/component_tree/component_tree.ts
  mesop/web/src/dev_tools/editor_panel/editor_panel.ts
  mesop/web/src/dev_tools/services/logger.ts
  mesop/web/src/utils/proto.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Editor codemod: support update callsite for non-core components
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/update_columns/after.py
  mesop/editor/testdata/update_columns/before.py
Due: none

Delete custom component testcase for editor codemod
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/delete_custom_component/after.py
  mesop/editor/testdata/delete_custom_component/before.py
Due: none

Editor codemod support new custom component
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/new_custom_component/after.py
  mesop/editor/testdata/new_custom_component/before.py
Due: none

Plumb component name in component helper w/ correct module id
  mesop/component_helpers/helper.py
Due: none

Display component name in component tree fixed
  mesop/web/src/dev_tools/component_tree/component_tree.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix user defined component decorator - source code location corrected
  mesop/component_helpers/helper.py
Due: none

Fix editor panel with new ComponentName proto
  mesop/web/src/dev_tools/editor_panel/editor_panel.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_panel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Move margin-top to dev_tools to apply to all panels
  mesop/web/src/dev_tools/dev_tools.scss
  mesop/web/src/dev_tools/editor_panel/editor_panel.scss
Due: none

Plumb args for custom components to FE (logger/editor)
  mesop/component_helpers/helper.py
  mesop/protos/ui.proto
  mesop/web/src/dev_tools/services/logger.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix equality check for isComponentNameEquals
  mesop/web/src/utils/proto.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

increase playwright test timeout to reduce flakiness
  playwright.config.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix issue where modules (including components) where reloading twice (one as part of normal execution; and again as part of hot reload)
  mesop/cli/execute_module.py
  mesop/cli/execute_module_test.py
  mesop/example_index.py
Due: none

Handle edge case in ComponentRenderer#getStyle for root component which doesn't have a name
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Path conditions:
  forbid-import-star-ts-proto: any of: \.(ts)$
  forbid-raw-json-parse: any of: \.(ts)$
  forbid-external-bazel-symbols: any of: BUILD$
