Repository wwwillchen/mesop: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

forbid-import-star-ts-proto:
  name: Forbid import glob for TS protos
  description: problematic for tree-shaking when syncing downstream
  entry: sh -c '! git grep -E "import \* as.*_jspb"'
  language: system
  pass_filenames: false

forbid-raw-json-parse:
  name: Forbid raw JSON.parse (use strict_types.ts `jsonParse`)
  description: JSON.parse is loosely typed which causes downstream issues
  entry: sh -c '! git grep -E "JSON\.parse" "optic/**" ":!strict_types.ts"'
  language: system
  pass_filenames: false

forbid-external-bazel-symbols:
  name: Forbid external Bazel symbols in /optic/
  description: External Bazel symbols should be contained in /build_defs/
  entry: sh -c '! git grep -E "@[^D][^)]" "optic/**/BUILD"'
  language: system
  pass_filenames: false

Edge case repro
  mesop/examples/__init__.py
  mesop/examples/diff_edge_case.py
Due: none

Custom components: web components in vanillajs
  mesop/__init__.py
  mesop/component_helpers/helper.py
  mesop/component_helpers/web_component.py
  mesop/examples/BUILD
  mesop/examples/__init__.py
  mesop/examples/custom_component/BUILD
  mesop/examples/custom_component/__init__.py
  mesop/examples/custom_component/custom_component.js
  mesop/examples/custom_component/custom_component.py
  mesop/examples/custom_component/custom_component_app.py
  mesop/protos/ui.proto
  mesop/runtime/context.py
  mesop/runtime/runtime.py
  mesop/server/server.py
  mesop/server/static_file_serving.py
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Create gemini tutorial
  docs/getting_started/gemini_tutorial.md
  mkdocs.yml
Due: none

prompt preamble
  scripts/gen/prompt_preamble.txt
  scripts/generate_context.py
Due: none

Update test command in docs (#484)
  docs/internal/testing.md
Due: none

Allow multiple selections on select box (#481)
  mesop/components/select/e2e/__init__.py
  mesop/components/select/e2e/select_app_multiple.py
  mesop/components/select/e2e/select_test.ts
  mesop/components/select/select.ng.html
  mesop/components/select/select.proto
  mesop/components/select/select.py
  mesop/components/select/select.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

chore: fix typo in posts/why_mesop.md (#502)
  docs/blog/posts/why_mesop.md
Due: none

chore: fix typo in docs/index.md (#487)
  docs/index.md
Due: none

Update grpc-tools to 1.12.4 (#490)
  package.json
  yarn.lock
Due: none

Bump to V0.9.1 (#474)
  mesop/version.py
Due: none

Use ipv4 host if ipv6 is not available (#497)
  mesop/cli/cli.py
  mesop/colab/colab_run.py
  mesop/server/wsgi_app.py
  mesop/utils/host_util.py
Due: none

Remove $ prefix from shell commands
  README.md
  demo/README.md
  docs/getting_started/installing.md
  docs/guides/deployment.md
  docs/index.md
  docs/internal/development.md
  docs/internal/modes.md
  docs/internal/new_component.md
  docs/internal/publishing.md
  docs/internal/testing.md
  docs/internal/type_checking.md
  mesop/examples/web_component/firebase_auth/README.md
Due: none

Add `on_blur` for input / textarea components (#517)
  demo/input.py
  demo/textarea.py
  docs/components/input.md
  docs/components/textarea.md
  mesop/__init__.py
  mesop/components/input/e2e/__init__.py
  mesop/components/input/e2e/input_blur_app.py
  mesop/components/input/e2e/input_test.ts
  mesop/components/input/input.ng.html
  mesop/components/input/input.proto
  mesop/components/input/input.py
  mesop/components/input/input.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix node_modules path (#486)
  docker-compose.yml
Due: none

Unpin deepdiff (#482)
  build_defs/requirements.txt
  mesop/pip_package/requirements.txt
Due: none

Add SecurityPolicy to docs (#521)
  docs/api/page.md
  docs/guides/web_security.md
  mesop/security/security_policy.py
Due: none

Add test for text_to_text
  mesop/examples/testing/__init__.py
  mesop/examples/testing/text_to_text.py
  mesop/tests/e2e/text_to_text_test.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

explore safety
  mesop/runtime/BUILD
  mesop/runtime/context.py
  mesop/runtime/context_test.py
  mesop/server/BUILD
Due: forbid-external-bazel-symbols

ai explore
  ai/eval_generate.json
  ai/eval_model.py
  ai/llm.py
  ai/prompt.py
  ai/run_eval.py
Due: none

prototype
  ai/ft/dataset_formatter.py
  ai/ft/llm_lib.py
  ai/prompt_context/concat_markdown_summaries.py
  ai/prompt_context/summarize_markdown.py
  ai/services/service.py
  demo/text.py
  mesop/server/server.py
Due: none

use smaller prompt context for inference
  ai/services/service.py
Due: none

Path conditions:
  forbid-import-star-ts-proto: any of: \.(ts)$
  forbid-raw-json-parse: any of: \.(ts)$
  forbid-external-bazel-symbols: any of: BUILD$
