Repository wwwillchen/mesop: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

forbid-import-star-ts-proto:
  name: Forbid import glob for TS protos
  description: problematic for tree-shaking when syncing downstream
  entry: sh -c '! git grep -E "import \* as.*_jspb"'
  language: system
  pass_filenames: false

forbid-raw-json-parse:
  name: Forbid raw JSON.parse (use strict_types.ts `jsonParse`)
  description: JSON.parse is loosely typed which causes downstream issues
  entry: sh -c '! git grep -E "JSON\.parse" "optic/**" ":!strict_types.ts"'
  language: system
  pass_filenames: false

forbid-external-bazel-symbols:
  name: Forbid external Bazel symbols in /optic/
  description: External Bazel symbols should be contained in /build_defs/
  entry: sh -c '! git grep -E "@[^D][^)]" "optic/**/BUILD"'
  language: system
  pass_filenames: false

Provide an option to preprocess request in static file serving (e.g. used for auth checks)
  mesop/server/static_file_serving.py
Due: none

Make Flask server configurable with exceptions that will be propagated
  mesop/cli/cli.py
  mesop/cli/dev_cli.py
  mesop/server/server.py
Due: none

Add return types of server.py
  mesop/server/server.py
Due: none

Postfix proto fields which use C++ keywords as field names to avoid potential future issues with C++ code
  mesop/component_helpers/helper.py
  mesop/components/checkbox/checkbox.py
  mesop/components/checkbox/checkbox.ts
  mesop/components/input/input.ts
  mesop/components/progress_bar/progress_bar.py
  mesop/components/progress_bar/progress_bar.ts
  mesop/components/radio/radio.py
  mesop/components/radio/radio.ts
  mesop/components/select/select.py
  mesop/components/select/select.ts
  mesop/components/slider/slider.py
  mesop/components/slider/slider.ts
  mesop/protos/ui.proto
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Clean up third_party dirs: rename web/third_party -> external (make it clearer this isn't actual third-party code, but rather a wrapper)
  biome.json
  mesop/components/markdown/BUILD
  mesop/components/markdown/markdown.ts
  mesop/web/external/BUILD
  mesop/web/external/marked.ts
  mesop/web/src/error/BUILD
  mesop/web/src/error/error_box.ts
  third_party/python_runtime/BUILD
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Clean up non-exposed select proto fields & callsites
  mesop/components/select/select.ng.html
  mesop/components/select/select.proto
Due: none

Postfix delay fields with ms to conform to proto best practices
  mesop/components/tooltip/tooltip.ng.html
  mesop/components/tooltip/tooltip.proto
  mesop/components/tooltip/tooltip.py
Due: none

Change docs site font to Poppins
  mkdocs.yml
Due: none

Add normalize.css
  mesop/web/src/app/_normalize.scss
  mesop/web/src/app/styles.scss
Due: none

Remove standalone example and defs.bzl (rethink this later)
  defs.bzl
  mesop/examples/standalone/BUILD
  mesop/examples/standalone/__init__.py
  mesop/examples/standalone/standalone.py
Due: forbid-external-bazel-symbols

Clean up typos
  generator/component_spec.proto
  generator/generate_ng_template.py
  mesop/web/src/utils/strict_types.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Add required license info for root BUILD file
  mesop/BUILD
Due: forbid-external-bazel-symbols

Add mesop_users package group and set main target as visible to it
  build_defs/BUILD
  mesop/BUILD
Due: forbid-external-bazel-symbols

Inline api.py into __init__.py
  mesop/BUILD
  mesop/__init__.py
  mesop/api.py
Due: forbid-external-bazel-symbols

Standardize BUILD visibility
  mesop/tests/BUILD
  mesop/web/BUILD
  third_party/python_runtime/BUILD
Due: forbid-external-bazel-symbols

Create sass_library for normalize
  build_defs/defaults.bzl
  mesop/web/src/app/BUILD
Due: forbid-external-bazel-symbols

Package description
  mesop/BUILD
Due: forbid-external-bazel-symbols

Extract shell component from app package
  mesop/web/src/app/BUILD
  mesop/web/src/app/dev/BUILD
  mesop/web/src/app/dev/main.ts
  mesop/web/src/app/prod/BUILD
  mesop/web/src/app/prod/bundle.ts
  mesop/web/src/shell/BUILD
  mesop/web/src/shell/shell.ng.html
  mesop/web/src/shell/shell.scss
  mesop/web/src/shell/shell.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Split devtools capabilities into Editor component which wraps shell and is used for dev
  mesop/web/src/app/dev/BUILD
  mesop/web/src/app/dev/main.ts
  mesop/web/src/editor/BUILD
  mesop/web/src/editor/editor.ng.html
  mesop/web/src/editor/editor.scss
  mesop/web/src/editor/editor.ts
  mesop/web/src/shell/shell.ng.html
  mesop/web/src/shell/shell.scss
  mesop/web/src/shell/shell.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Create editor bundle and serve it with CLI when --prod is not set
  mesop/cli/BUILD
  mesop/cli/cli.py
  mesop/web/src/app/editor/BUILD
  mesop/web/src/app/editor/bundle.ts
  mesop/web/src/app/editor/favicon.ico
  mesop/web/src/app/editor/index.html
  playwright.config.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Create overall UI structure for editor with header & sidenavs
  mesop/web/src/dev_tools/services/dev_tools_settings.ts
  mesop/web/src/editor/BUILD
  mesop/web/src/editor/component_library/BUILD
  mesop/web/src/editor/component_library/component_library.ng.html
  mesop/web/src/editor/component_library/component_library.scss
  mesop/web/src/editor/component_library/component_library.ts
  mesop/web/src/editor/editor.ng.html
  mesop/web/src/editor/editor.scss
  mesop/web/src/editor/editor.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Create editor panel inside dev tools
  mesop/web/src/dev_tools/BUILD
  mesop/web/src/dev_tools/dev_tools.ng.html
  mesop/web/src/dev_tools/dev_tools.ts
  mesop/web/src/dev_tools/editor_panel/BUILD
  mesop/web/src/dev_tools/editor_panel/editor_panel.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_panel.scss
  mesop/web/src/dev_tools/editor_panel/editor_panel.ts
  mesop/web/src/dev_tools/services/dev_tools_settings.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Replace optic-* angular selector with mesop-*
  mesop/web/src/app/dev/index.html
  mesop/web/src/app/editor/index.html
  mesop/web/src/app/prod/index.html
  mesop/web/src/editor/editor.ng.html
  mesop/web/src/editor/editor.ts
  mesop/web/src/shell/shell.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Distinguish MesopApp from MesopEditorApp
  mesop/web/src/app/dev/index.html
  mesop/web/src/app/editor/index.html
  mesop/web/src/editor/editor.ts
  mesop/web/src/shell/shell.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Simple scaffolding of component library
  mesop/editor/BUILD
  mesop/editor/__init__.py
  mesop/editor/component_configs.py
  mesop/protos/ui.proto
  mesop/server/BUILD
  mesop/server/server.py
  mesop/web/src/editor/component_library/component_library.ng.html
  mesop/web/src/editor/component_library/component_library.scss
  mesop/web/src/editor/component_library/component_library.ts
  mesop/web/src/editor/editor.ng.html
  mesop/web/src/editor/editor.scss
  mesop/web/src/editor/editor.ts
  mesop/web/src/services/channel.ts
  mesop/web/src/shell/shell.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Update playwright to run in prod mode
  playwright.config.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Add gutter for content frame in editor
  mesop/web/src/editor/editor.ng.html
  mesop/web/src/editor/editor.scss
Due: none

Create editor mode service for lightweight detection
  mesop/web/src/component_renderer/component_renderer.ts
  mesop/web/src/editor/editor.ts
  mesop/web/src/services/editor_mode_service.ts
  mesop/web/src/shell/shell.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

WIP: simple overlay for component renderer when in editor mode
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/component_renderer.ng.html
  mesop/web/src/component_renderer/component_renderer.scss
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Rename EditorModeService -> EditorService (prepare for more functionality)
  mesop/web/src/component_renderer/component_renderer.ts
  mesop/web/src/editor/editor.ts
  mesop/web/src/services/editor_service.ts
  mesop/web/src/shell/shell.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Simple editor overlay basically functional
  mesop/web/src/component_renderer/component_renderer.ng.html
  mesop/web/src/component_renderer/component_renderer.ts
  mesop/web/src/editor/editor.ts
  mesop/web/src/services/editor_service.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Create vertical area to clear focused element
  mesop/web/src/editor/editor.ng.html
  mesop/web/src/editor/editor.scss
  mesop/web/src/editor/editor.ts
  mesop/web/src/services/editor_service.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

simple debug display of selected component
  mesop/web/src/dev_tools/component_tree/component_tree.ts
  mesop/web/src/dev_tools/editor_panel/BUILD
  mesop/web/src/dev_tools/editor_panel/editor_panel.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_panel.ts
  mesop/web/src/dev_tools/services/logger.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Fix styling for editor content frame
  mesop/web/src/editor/editor.scss
Due: none

Show overlay background for focused component
  mesop/components/box/e2e/box_app.py
  mesop/examples/index.py
  mesop/examples/playground_critic.py
  mesop/examples/shared/navmenu.py
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Generate component configs
  mesop/editor/BUILD
  mesop/editor/component_configs.py
  mesop/editor/component_configs_test.py
  mesop/protos/ui.proto
  mesop/runtime/BUILD
  mesop/utils/validate.py
Due: forbid-external-bazel-symbols

Basic editor panel UI
  mesop/web/src/dev_tools/dev_tools.ng.html
  mesop/web/src/dev_tools/dev_tools.ts
  mesop/web/src/dev_tools/editor_panel/editor_panel.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_panel.scss
  mesop/web/src/dev_tools/editor_panel/editor_panel.ts
  mesop/web/src/editor/editor.ng.html
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Handle list and float type for editor panel
  mesop/components/checkbox/e2e/checkbox_app.py
  mesop/editor/component_configs.py
  mesop/editor/component_configs_test.py
  mesop/protos/ui.proto
  mesop/web/src/dev_tools/editor_panel/editor_fields/BUILD
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.scss
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
  mesop/web/src/dev_tools/editor_panel/editor_panel.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_panel.ts
  mesop/web/src/editor/editor.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Normalize the devtools/editor styling
  mesop/web/src/dev_tools/dev_tools.ng.html
  mesop/web/src/dev_tools/dev_tools.scss
  mesop/web/src/editor/component_library/component_library.scss
Due: none

Attach source code location in debug mode
  mesop/component_helpers/helper.py
  mesop/editor/BUILD
  mesop/protos/ui.proto
  mesop/utils/BUILD
  mesop/utils/caller.py
  mesop/utils/caller_test.py
  mesop/web/src/dev_tools/services/logger.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Path conditions:
  forbid-import-star-ts-proto: any of: \.(ts)$
  forbid-raw-json-parse: any of: \.(ts)$
  forbid-external-bazel-symbols: any of: BUILD$
