Repository wwwillchen/mesop: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.3
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/wwwillchen/pre-commit-buildifier
    rev: 0.1.1
    hooks:
      - id: buildifier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: forbid-import-star-ts-proto
        name: Forbid import glob for TS protos
        description: problematic for tree-shaking when syncing downstream
        entry: sh -c '! git grep -E "import \* as.*_jspb"'
        files: \.(ts)$
        language: system
        pass_filenames: false
      - id: forbid-raw-json-parse
        name: Forbid raw JSON.parse (use strict_types.ts `jsonParse`)
        description: JSON.parse is loosely typed which causes downstream issues
        entry: sh -c '! git grep -E "JSON\.parse" "optic/**" ":!strict_types.ts"'
        files: \.(ts)$
        language: system
        pass_filenames: false
      - id: forbid-external-bazel-symbols
        name: Forbid external Bazel symbols in /optic/
        description: External Bazel symbols should be contained in /build_defs/
        entry: sh -c '! git grep -E "@[^D][^)]" "optic/**/BUILD"'
        language: system
        pass_filenames: false
        files: BUILD$

      # - id: forbid-json-parse
      #   name: Do not use raw JSON.parse, instead use `jsonParse` from strict_types.ts
      #   entry: ! git grep "JSON.parse"
      #   language: system
      #   files: \.(ts)$
      #   exclude: strict_types\.ts

Copy component configs across runtime reset
  mesop/runtime/runtime.py
Due: none

Remove unused private property
  mesop/runtime/runtime.py
Due: none

Add type property to button proto for editor
  mesop/components/button/button.proto
  mesop/components/button/button.py
Due: none

Revise button API: makes it easier to pick a color (and better editor support)
  mesop/components/button/button.py
  mesop/examples/buttons.py
  mesop/examples/index.py
Due: none

Fix doc link for editor panel
  mesop/web/src/dev_tools/editor_panel/editor_panel.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix component name display in editor overlay
  mesop/web/src/component_renderer/component_renderer.ng.html
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Clean checkbox API
  mesop/components/checkbox/checkbox.ng.html
  mesop/components/checkbox/checkbox.proto
  mesop/components/checkbox/checkbox.py
Due: none

Save int and float editor fields in correct data type
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ng.html
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Clean up divider API (vertical doesn't seem to do anything) & update examples/index.py
  mesop/components/divider/divider.ng.html
  mesop/components/divider/divider.proto
  mesop/components/divider/divider.py
  mesop/examples/index.py
Due: none

Include divider in hard-coded list of components with block semantics (for component renderer editor styles)
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Clean up icon API & make proto consistent (for editor support)
  mesop/components/icon/icon.ng.html
  mesop/components/icon/icon.proto
  mesop/components/icon/icon.py
Due: none

Special case icon for first positional arg in editor codemod
  mesop/editor/editor_codemod.py
Due: none

Clean up input API
  mesop/components/input/input.ng.html
  mesop/components/input/input.proto
  mesop/components/input/input.py
Due: none

Clean up progress bar API
  mesop/components/progress_bar/progress_bar.py
Due: none

Clean up progress spinner API (remove alias because it breaks editor support)
  docs/components/progress_spinner.md
  mesop/__init__.py
  mesop/components/progress_spinner/e2e/progress_spinner_app.py
  mesop/components/progress_spinner/progress_spinner.py
Due: none

Clean up radio API
  mesop/components/radio/radio.ng.html
  mesop/components/radio/radio.proto
  mesop/components/radio/radio.py
Due: none

Clean up Select API
  mesop/components/select/select.ng.html
  mesop/components/select/select.proto
  mesop/components/select/select.py
Due: none

Clean up slide toggle API
  mesop/components/slide_toggle/slide_toggle.ng.html
  mesop/components/slide_toggle/slide_toggle.py
Due: none

Debounce slider
  mesop/components/slider/slider.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Include progress_bar in hard-coded list of components with block semantics (for component renderer editor styles)
  mesop/web/src/component_renderer/component_renderer.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Cache prefix arrays otherwise Angular's change detection loops forever
  mesop/web/src/dev_tools/editor_panel/editor_fields/editor_fields.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Clean up tooltip API
  mesop/components/tooltip/tooltip.ng.html
  mesop/components/tooltip/tooltip.proto
  mesop/components/tooltip/tooltip.py
  mesop/components/tooltip/tooltip.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Fix progress spinner test
  mesop/components/progress_spinner/e2e/progress_spinner_app.py
Due: none

Update examples/index.py with link to every component
  mesop/examples/index.py
Due: none

Support adding sibling to a composite component
  mesop/editor/editor_codemod.py
  mesop/editor/editor_codemod_test.py
  mesop/editor/testdata/new_component_with_block_nested_sibling/after.py
  mesop/editor/testdata/new_component_with_block_nested_sibling/before.py
Due: none

Hide add component buttons for root node (since it's not supported right now)
  mesop/web/src/dev_tools/component_tree/component_tree.ng.html
  mesop/web/src/dev_tools/component_tree/component_tree.ts
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Split textarea and component for: 1) cleaner API and 2) editor support
  docs/components/input.md
  docs/components/textarea.md
  mesop/__init__.py
  mesop/components/input/e2e/input_app.py
  mesop/components/input/input.ng.html
  mesop/components/input/input.proto
  mesop/components/input/input.py
  mesop/examples/playground.py
  mesop/examples/playground_critic.py
  mesop/examples/readme_app.py
  mesop/web/src/component_renderer/type_to_component.ts
  mkdocs.yml
Due: forbid-import-star-ts-proto, forbid-raw-json-parse

Publish visual editor blog post
  docs/assets/editor-v0.png
  docs/assets/editor-v1.png
  docs/blog/posts/visual_editor.md
Due: none

Create image component
  docs/components/image.md
  mesop/BUILD
  mesop/__init__.py
  mesop/components/image/BUILD
  mesop/components/image/__init__.py
  mesop/components/image/e2e/BUILD
  mesop/components/image/e2e/__init__.py
  mesop/components/image/e2e/image_app.py
  mesop/components/image/e2e/image_test.ts
  mesop/components/image/image.ng.html
  mesop/components/image/image.proto
  mesop/components/image/image.py
  mesop/components/image/image.ts
  mesop/example_index.py
  mesop/examples/BUILD
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
  mkdocs.yml
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Clean up commented out code in text.py
  mesop/components/text/text.py
Due: none

Rename register_component -> register_native_component to make it clear it shouldn't be used for user-defined components
  mesop/component_helpers/__init__.py
  mesop/component_helpers/helper.py
  mesop/components/badge/badge.py
  mesop/components/box/box.py
  mesop/components/button/button.py
  mesop/components/checkbox/checkbox.py
  mesop/components/divider/divider.py
  mesop/components/icon/icon.py
  mesop/components/image/image.py
  mesop/components/input/input.py
  mesop/components/markdown/markdown.py
  mesop/components/progress_bar/progress_bar.py
  mesop/components/progress_spinner/progress_spinner.py
  mesop/components/radio/radio.py
  mesop/components/select/select.py
  mesop/components/slide_toggle/slide_toggle.py
  mesop/components/slider/slider.py
  mesop/components/text/text.py
  mesop/components/tooltip/tooltip.py
  mesop/runtime/runtime.py
Due: none

Move style proto conversion inside component helper to make it a cleaner helper API
  mesop/component_helpers/helper.py
  mesop/components/box/box.py
  mesop/components/icon/icon.py
  mesop/components/image/image.py
  mesop/components/input/input.py
  mesop/components/text/text.py
Due: none

update component generators/scaffolder to use register_native_component instead of validate decorator
  generator/fixtures/component_name.py
  scripts/component_template/component_name.py
Due: none

Create audio component
  docs/components/audio.md
  mesop/BUILD
  mesop/__init__.py
  mesop/components/audio/BUILD
  mesop/components/audio/__init__.py
  mesop/components/audio/audio.ng.html
  mesop/components/audio/audio.proto
  mesop/components/audio/audio.py
  mesop/components/audio/audio.ts
  mesop/components/audio/e2e/BUILD
  mesop/components/audio/e2e/__init__.py
  mesop/components/audio/e2e/audio_app.py
  mesop/components/audio/e2e/audio_test.ts
  mesop/example_index.py
  mesop/examples/BUILD
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
  mkdocs.yml
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Create video component
  docs/components/video.md
  mesop/BUILD
  mesop/__init__.py
  mesop/components/video/BUILD
  mesop/components/video/__init__.py
  mesop/components/video/e2e/BUILD
  mesop/components/video/e2e/__init__.py
  mesop/components/video/e2e/video_app.py
  mesop/components/video/e2e/video_test.ts
  mesop/components/video/video.ng.html
  mesop/components/video/video.proto
  mesop/components/video/video.py
  mesop/components/video/video.ts
  mesop/example_index.py
  mesop/examples/BUILD
  mesop/web/src/component_renderer/BUILD
  mesop/web/src/component_renderer/type_to_component.ts
  mkdocs.yml
Due: forbid-import-star-ts-proto, forbid-raw-json-parse, forbid-external-bazel-symbols

Fix pydocs for tooltip
  mesop/components/tooltip/tooltip.py
Due: none

Enable strict mode for mkdocs to fail on warnings (e.g. incorrect pydocs)
  mkdocs.yml
Due: none

Alphabetize Style properties (order used for editor display)
  mesop/component_helpers/style.py
Due: none

Define new properties on Style (dataclass)
  mesop/component_helpers/style.py
Due: none

Alphabetize Style proto fields
  mesop/protos/ui.proto
Due: none
